@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Merriweather:400,400i,700");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i");
.ck-content {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #262626;
  background-color: white;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
}
.ck-content h2, .ck-content h3, .ck-content h4, .ck-content h5, .ck-content h6, .ck-content .h2, .ck-content .h3, .ck-content .h4, .ck-content .h5, .ck-content .h6, .ck-content .heading {
  font-family: "Merriweather", Georgia, "Times New Roman", Times, serif !important;
  margin: 20px 0;
  font-weight: 500;
  line-height: 1.2;
}
.ck-content h2, .ck-content .h2 {
  color: #012169;
  font-size: 2rem;
}
.ck-content h3, .ck-content .h3 {
  color: #00539b;
  font-size: 1.75rem;
}
.ck-content h4, .ck-content .h4 {
  color: #0577b1;
  font-size: 1.5rem;
}
.ck-content h5, .ck-content .h5, .ck-content .heading {
  color: #666;
  font-size: 1.25rem;
}
.ck-content h6, .ck-content .h6 {
  color: #262626;
  font-size: 1rem;
}
.ck-content p {
  margin-top: 0;
  margin-bottom: 1rem;
}
.ck-content a, .ck-content .link {
  color: #00539b;
  text-decoration: underline;
}
.ck-content a:hover, .ck-content a:focus, .ck-content .link:hover, .ck-content .link:focus, .ck-content a:active, .ck-content .link:active {
  color: #012169;
  text-decoration: none;
}
.ck-content blockquote {
  border-left: 10px solid #988675;
  padding-left: 20px;
  margin: 50px;
}
.ck-content blockquote p {
  color: #666;
  font-size: 1.15em;
  font-style: italic;
}
.ck-content blockquote p em, .ck-content blockquote p i {
  font-style: normal;
}
.ck-content a.btn, .ck-content a.btn-primary {
  margin: 15px 15px 15px 0;
  text-align: left;
  clear: both;
  display: inline-block;
  margin-right: 12px;
  background-image: none !important;
  text-decoration: none;
  padding: 10px 20px;
  height: auto;
  border-radius: 0;
  -o-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  background-color: #00539b;
  border-color: #00539b;
  color: white;
}
.ck-content a.btn:hover, .ck-content a.btn-primary:hover, .ck-content a.btn-primary:focus {
  text-decoration: none;
  -o-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  background-color: #00427c;
  border-color: #00427c;
}
.ck-content .table {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
}
.ck-content .table table thead th {
  text-align: left;
  background-color: #00539b;
  color: white;
  padding: .5em .7em;
  font-weight: bold;
}
.ck-content table th, .ck-content table td, .ck-content td {
  vertical-align: top !important;
}
.ck-content table th, .ck-content table td {
  padding: 0.5em 0.7em;
}
.ck-content table th {
  background-color: #00539b;
  color: white;
}
.ck-content .table-bordered {
  border: 1px solid #dee2e6;
}
.ck-content .table-bordered th, .ck-content .table-bordered td {
  border: 1px solid #dee2e6;
}
.ck-content .table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}
.ck-content .text-align-center {
  text-align: center;
}
.ck-content .text-align-right {
  text-align: right;
}
.ck-content hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
.ck-editor__editable .ck-list-bogus-paragraph {
  display: inline !important;
}
.ck-content ul,
.ck-content ul ul,
.ck-content ul ul ul,
.ck-content ul ul ul ul,
.ck-content ul ul ul ul ul {
  list-style: none !important;
  padding-left: 2em;
}
.ck-content ol, .ck-content ul, .ck-content dl {
  margin-top: 0;
  margin-bottom: 1rem;
}
.ck-content ol ol, .ck-content ul ul, .ck-content ol ul, .ck-content ul ol {
  margin-bottom: 0;
}
.ck-content ul li {
  line-height: 1.6em;
}
.ck-content ul li ul {
  padding-left: 1em;
}
.ck-content ul li::before {
  content: "■";
  color: #988675;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  position: relative;
  top: -2px;
}
.ck-content ul li ul li::before, .ck-content ul li ul li ul li ul li::before {
  color: #012169;
}
.ck-content ul li ul li ul li::before, .ck-content ul li ul li ul li ul li ul li::before {
  color: #988675;
}
.ck-content .element-invisible {
  position: absolute !important;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  word-wrap: normal;
}
.ck-content .sidebar-grey-left, .ck-content .sidebar-grey-right, .ck-content .sidebar-blue-left, .ck-content .sidebar-blue-right {
  width: 30%;
  max-width: 320px;
  padding: 20px;
}
.ck-content .sidebar-grey-left {
  float: left;
  margin: 0 20px 20px 0;
  background: #f3f2f1;
}
.ck-content .sidebar-grey-right {
  float: right;
  margin: 0 0 20px 20px;
  background: #f3f2f1;
}
.ck-content .sidebar-blue-left {
  float: left;
  margin: 0 20px 20px 0;
  background: #e2e6ed;
}
.ck-content .sidebar-blue-right {
  float: right;
  margin: 0 0 20px 20px;
  background: #e2e6ed;
}
.ck-content img {
  max-width: 100%;
  height: auto;
  display: inline-block;
  vertical-align: middle;
  border-style: none;
}
.ck-content .embedded-entity[data-embed-button=embed_image].align-center, .ck-content figure.align-center {
  float: none !important;
  text-align: center;
  display: table !important;
  margin: 30px auto;
}
.ck-content .embedded-entity[data-embed-button=embed_image].align-center figcaption, .ck-content figure.align-center figcaption {
  display: table-caption;
  caption-side: bottom;
}
.ck-content .embedded-entity[data-embed-button=embed_image].align-left,
.ck-content figure.caption-drupal-entity.align-left, .ck-content figure.image.align-left {
  display: table;
  margin: 0 20px 20px 0;
}
.ck-content figure.caption-drupal-entity.align-left .field--name-field-media-image, .ck-content figure.image.align-left .field--name-field-media-image {
  float: left !important;
}
.ck-content figure.caption-drupal-entity.align-right .field--name-field-media-image, .ck-content figure.image.align-right .field--name-field-media-image {
  float: right !important;
}
.ck-content .embedded-entity[data-embed-button=embed_image].align-right,
.ck-content figure.caption-drupal-entity.align-right, .ck-content figure.image.align-right {
  display: table;
  margin: 0 0 20px 20px;
}
.ck-content figcaption,
.ck-content .field--name-name,
.ck-content .field--name-field-video-description {
  font-size: 0.9em;
  text-align: left;
  padding: 10px;
}
.ck-content drupal-entity[data-embed-button=embed_audio] figure.caption-drupal-entity,
.ck-content drupal-entity[data-embed-button=embed_file] figure.caption-drupal-entity,
.ck-content drupal-entity[data-embed-button=embed_video] figure.caption-drupal-entity,
.ck-content .embedded-entity[data-embed-button=embed_audio] figure.caption-drupal-entity,
.ck-content .embedded-entity[data-embed-button=embed_file] figure.caption-drupal-entity,
.ck-content .embedded-entity[data-embed-button=embed_video] figure.caption-drupal-entity {
  display: inline !important;
  float: none !important;
}
.ck-content drupal-entity[data-embed-button=embed_audio] + figcaption,
.ck-content drupal-entity[data-embed-button=embed_file] + figcaption,
.ck-content drupal-entity[data-embed-button=embed_video] + figcaption,
.ck-content .embedded-entity[data-embed-button=embed_audio] + figcaption,
.ck-content .embedded-entity[data-embed-button=embed_file] + figcaption,
.ck-content .embedded-entity[data-embed-button=embed_video] + figcaption {
  display: none !important;
}
.ck-content .field--name-field-media-oembed-video,
.ck-content .views-field-field-media-oembed-video {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}
.ck-content .field--name-field-media-oembed-video iframe,
.ck-content .views-field-field-media-oembed-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.ck-content drupal-entity[data-embed-button=embed_file],
.ck-content .embedded-entity[data-embed-button=embed_file] {
  float: none !important;
  text-align: left;
  display: block !important;
  margin: 0 !important;
  clear: both;
}
.ck-content .one-hundred-percent {
  width: 100%;
}
.ck-content drupal-entity[data-entity-embed-display=view_mode:media.75_width] {
  width: 75%;
  max-width: 75%;
}
.ck-content drupal-entity[data-entity-embed-display=view_mode:media.100_width] {
  width: 100%;
  max-width: 100%;
}
.ck-content drupal-entity[data-align=right] {
  display: inline-block;
  float: right;
}
.ck-content drupal-entity[data-align=left] {
  display: inline-block;
  float: left;
}
@-moz-document url-prefix() {
  .ck-content figure.caption-drupal-entity.align-left,
.ck-content figure.caption-drupal-entity.align-right {
    display: inline-block !important;
  }
  .ck-content figure.caption-drupal-entity.align-center {
    display: table !important;
  }
  .ck-content figure.caption-drupal-entity.align-center figcaption {
    display: table-caption !important;
  }
}
.ck-content .align-left {
  float: left;
}
.ck-content .align-right {
  float: right;
}
.ck-content .caption > * {
  display: block;
  max-width: 100%;
}
.ck-content .caption > figcaption {
  max-width: none;
}
.ck-content figure.caption-drupal-entity.align-left figcaption, .ck-content figure.image.align-left figcaption,
.ck-content figure.caption-drupal-entity.align-right figcaption, .ck-content figure.image.align-right figcaption {
  display: table-caption;
  caption-side: bottom;
  width: 100%;
}
.ck-content figure figcaption, .ck-content .field--name-field-video-description {
  background-color: #e5e5e5 !important;
  color: #262626 !important;
}
.ck-content figure figcaption {
  font-size: 0.9em;
  padding: 10px;
  box-sizing: border-box;
}
.ck-content figcaption, .ck-content .field--name-name, .ck-content .field--name-field-video-description {
  text-align: left;
}
form[action="/entity-embed/dialog/full_html/embed_video"] .fieldgroup,
form[action="/entity-embed/dialog/full_html/embed_audio"] .fieldgroup,
form[action="/entity-embed/dialog/full_html/embed_file"] .fieldgroup,
form[action="/entity-embed/dialog/full_html/embed_video"] .form-item--attributes-data-caption,
form[action="/entity-embed/dialog/full_html/embed_audio"] .form-item--attributes-data-caption,
form[action="/entity-embed/dialog/full_html/embed_file"] .form-item--attributes-data-caption {
  display: none;
}
