.disclosure-nav {
  background-color: #262626;
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.disclosure-nav ul {
  background-color: #262626;
  border-top-width: 5px;
  display: none;
  list-style-type: none;
  margin: 0;
  min-width: 200px;
  padding: 0;
  position: absolute;
  top: 100%;
  z-index: 10;
  height: 37px;
}

.disclosure-nav ul.open {
  display: block;
}

.disclosure-nav li {
  margin: 0;
}

.disclosure-nav > li {
  display: flex;
  position: relative;
}

.disclosure-nav > li > a {
  color: #fff;
  text-decoration: none;
}

.disclosure-nav ul a {
  border: 0;
  color: #fff;
  background-color: #262626;
  display: block;
  margin: 0;
  padding: 0.5em 1em;
  text-decoration: none;
}

.disclosure-nav button:hover,
.disclosure-nav button:focus,
.disclosure-nav ul a:hover,
.disclosure-nav ul a:focus,
.disclosure-nav .main-link:hover,
.disclosure-nav .main-link:focus {
  background-color: #eee;
  color: #262626;
  margin-bottom: 0;
  text-decoration: none;
}

.disclosure-nav button,
.disclosure-nav .main-link {
  background-color: transparent;
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  height: 37px;
  border: none;
  padding: 0 10px;
}



