html, body {
  color: black;
}
*, *::before, *::after {
  box-sizing: unset;
}
#header #main-header .block-system-branding-block .site-logo img {
  filter: invert(1);
}
#header #main-header .block-system-branding-block .site-name a img {
  filter: invert(1);
}
#header #main-header .block-system-branding-block .site-name {
  color: black !important;
  border-left-color: black !important;
}
#header #main-header .block-system-branding-block .site-name a,
#header #main-header .block-system-branding-block .site-name a:active,
#header #main-header .block-system-branding-block .site-name a:link,
#header #main-header .block-system-branding-block .site-name a:visited {
  color: black !important;
}
.col {
  flex-basis: unset;
  flex-grow: unset;
  max-width: unset;
}
.sidebar {
  flex: unset;
  max-width: unset;
}
#header-top, #primary-navigation, .sidebar nav, .site-footer, .view-filters, .paragraph--type-img-feat-500-static,
.paragraph--type-img-feat-500-para, .paragraph--type-img-feat-300, .paragraph--type--video-gallery, .media--type-remote-video, .media--type-remote-audio {
  display: none;
}
/* accordions */
.card-header {
  display: block;
  clear: both;
}
.collapse:not(.show) {
  display: inline;
  height: auto;
  overflow: hidden;
}
.paragraph--bp-accordion-container .paragraph.paragraph--type--bp-accordion .card .card-header {
  padding: 0;
  margin-bottom: 0;
  clear: both;
}
.paragraph--bp-accordion-container .paragraph.paragraph--type--bp-accordion .card .card-header .card-title a, .paragraph--bp-accordion-container .paragraph.paragraph--type--bp-accordion .card .card-header .panel-title a {
  color: black;
}
.paragraph.paragraph--type--bp-accordion .panel-heading a[aria-expanded=false].display:after {
  content: unset;
}
.paragraph--bp-accordion-container .paragraph.paragraph--type--bp-accordion .card .card-block {
  margin-top: 0;
  margin-bottom: 0;
  border: 0 none;
}
ol, ul, dl {
  margin-top: unset;
  margin-bottom: unset;
}
/* tabs */
.nav-tabs {
  display: none;
}
.tab-content>.tab-pane {
  display: block;
}
.tab-content {
  border-left: 0 none;
  border-bottom: 0 none;
  border-right: 0 none;
}
.tab-content .tab-pane .paragraph.paragraph--type-bp-simple {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
}
/* people grid */
.blazy .list-group-item {
  max-width: 30%;
  min-height: 470px;
  margin-right: 3.33%;
  float: left;
}
.blazy .list-group-item .views-field-field-email,
.blazy .list-group-item .views-field-field-websites {
  display: none;
}
.view-administrative-positions .views-field-field-administrative-email .field-content {
  max-width: unset;
}
/* buttons */
a.btn, a.btn-primary {
  margin: 0;
  padding: 0;
  color: black;
}
/* tables */
table th {
  color: black;
}
/* colors */
.copper,
.dogwood,
.duke-navy-blue,
.duke-royal-blue,
.eno,
.ginger-beer,
.graphite,
.hatteras,
.ironweed,
.limestone,
.piedmont,
.white,
.copper *,
.dogwood *,
.duke-navy-blue *,
.duke-royal-blue *,
.eno *,
.ginger-beer *,
.graphite *,
.hatteras *,
.ironweed *,
.limestone *,
.piedmont *,
.white * {
  color: black !important;
}

