html {
  background-color: $footer-bg
}

body {
    color: $body-color;
    background-color: $body-bg;
}

.tabs ul.primary li a.is-active {
    background-color: #fff;
}

.tabs ul.primary li.is-active a {
    background-color: #fff;
    border-bottom-color: #fff;
}

a,
.link {
    color: $link-color;
    text-decoration: $link-decoration;
}

a:hover,
a:focus,
.link:hover,
.link:focus,
a:active,
.link:active {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
}

h1 {
  color: $h1color;
}

h2, .h2 {
  color: $h2color;
}

h3, .h3 {
  color: $h3color;
}

h4, .h4 {
  color: $h4color;
}

h5, .h5, .heading {
  color: $h5color;
}

h6, .h6 {
  color: $h6color;
}

h2, h3, h4, h5, h6, .h2, .h3, .h4, .h5, .h6 {
  a {
    color: $linkcolor;
  }
  a:hover,
  a:focus,
  .link:hover,
  .link:focus {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
  }
}

a {
  h2, h3, h4, h5, h6, .h2, .h3, .h4, .h5, .h6 {
    color: $linkcolor;
  }
}

a:hover,
a:focus,
.link:hover,
.link:focus {
  h2, h3, h4, h5, h6, .h2, .h3, .h4, .h5, .h6 {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
  }
}

blockquote {
  border-left: 10px solid $blockquoteborder;
  h2, h3, h4, h5, h6 {
    color: $blockquoteheading;
  }
  p {
    color: $blockquotetext;
  }
}

figure figcaption,
.field--name-field-video-description {
  background-color: $figurebg !important;
  color: $figuretext !important;
}

table {
  th {
    background-color: $brand-secondary;
    color: white;
  }
}

.card {
  .card-header {
    background-color: $brand-secondary;
    color: white;
    .card-title {
      a {
        color: white;
      }
      a:after {
        color: white;
      }
    }
  }
}

.more-link {
  a {
    color: $morelink;
    background-color: $morelinkbg;
  }
  a:hover,
  a:focus {
    color: $morelink-active;
    background-color: $morelinkbg-active;
  }
}

.btn-primary, .link a {
  color: $morelink;
  background-color: $morelinkbg;
  border-color: $morelinkbg; 
}

.btn-primary:hover,
.btn-primary:focus,
.link a:hover,
.link a:focus {
  color: $morelink-active;
  background-color: $morelinkbg-active;
  border-color: $morelinkbg-active;
}

.page-item.active .page-link {
    background-color: #0071b3;
    border-color: #0071b3;
}

.page-link,
.page-link:hover {
    color: #0071b3;
}

.sidebar .block {
    background-color: white;
    border: none;
}


// header


#header {
  font-family: $open-sans;
  background-color: $header-background-color;
  #navbar-top {
    background-color: $header-background-color;
  }
  #main-header {
    background-color: $header-background-color;
    .block-system-branding-block {
      .site-logo {
        border-right: 1px solid white;
      }
    }
  }
}

// Menus

// Sidebar Menu

#sidebar_second {
  nav,
  .item-list {
    ul.menu,
    ul.views-summary {
      // first level ul
      li {
        // first level li
        a {
          color: $sidebarnavlink;
        }
        a.active {
          color: $sidebarnavlinkactive;
        }
        &.expanded.active > a {
          color: $sidebarnavlinkactive;
        }
        &.leaf.active > a {
          color: $sidebarnavlinkactive;
        }
        &.expanded.active-trail > a.active {
          color: $sidebarnavlinkactive;
        }
        &.leaf.active-trail > a {
          color: $sidebarnavlinkactive;
        }
        a:hover {
          color: $sidebarnavlinkactive;
        }
        ul.menu,
        ul.views-summary {
          // second level ul
          li {
            // second level li
            a {
              background-color: tint($sidebarnavbgactive, 10%);
            }
            a.active {
              background-color: $sidebarnavbgactive;
              color: $sidebarnavlinkactive;
            }
            &.leaf.active > a {
              background-color: $sidebarnavbgactive;
              color: $sidebarnavlinkactive;
            }
            &.expanded.active-trail > a.active {
              background-color: $sidebarnavbgactive;
              color: $sidebarnavlinkactive;
            }
            &.leaf.active-trail > a {
              background-color: $sidebarnavbgactive;
              color: $sidebarnavlinkactive;
            }
            a:hover {
              background-color: $sidebarnavbgactive;
              color: $sidebarnavlinkactive;
            }
            ul.menu,
            ul.views-summary  {
              // third level ul
              li {
                // third level li
                a {
                  background-color: tint($sidebarnavbgactive, 20%);
                }
                a.active {
                  background-color: $sidebarnavbgactive;
                  color: $sidebarnavlinkactive;
                }
                &.leaf.active > a {
                  background-color: $sidebarnavbgactive;
                  color: $sidebarnavlinkactive;
                }
                &.expanded.active-trail > a.active {
                  background-color: $sidebarnavbgactive;
                  color: $sidebarnavlinkactive;
                }
                &.leaf.active-trail > a {
                  background-color: $sidebarnavbgactive;
                  color: $sidebarnavlinkactive;
                }
                a:hover {
                  background-color: $sidebarnavbgactive;
                  color: $sidebarnavlinkactive;
                }
                ul.menu,
                ul.views-summary  {
                  // fourth level ul
                  li {
                    // fourth level li
                    a {
                      background-color: tint($sidebarnavbgactive, 30%);
                    }
                    a.active {
                      background-color: $sidebarnavbgactive;
                      color: $sidebarnavlinkactive;
                    }
                    &.leaf.active > a {
                      background-color: $sidebarnavbgactive;
                      color: $sidebarnavlinkactive;
                    }
                    &.expanded.active-trail > a.active {
                      background-color: $sidebarnavbgactive;
                      color: $sidebarnavlinkactive;
                    }
                    &.leaf.active-trail > a {
                      background-color: $sidebarnavbgactive;
                      color: $sidebarnavlinkactive;
                    }
                    a:hover {
                      background-color: $sidebarnavbgactive;
                      color: $sidebarnavlinkactive;
                    }
                    ul.menu,
                    ul.views-summary  {
                      // fifth level ul
                      li {
                        // fifth level li
                        a {
                          background-color: tint($sidebarnavbgactive, 40%);
                        }
                        a.active {
                          background-color: $sidebarnavbgactive;
                          color: $sidebarnavlinkactive;
                        }
                        &.leaf.active > a {
                          background-color: $sidebarnavbgactive;
                          color: $sidebarnavlinkactive;
                        }
                        &.expanded.active-trail > a.active {
                          background-color: $sidebarnavbgactive;
                          color: $sidebarnavlinkactive;
                        }
                        &.leaf.active-trail > a {
                          background-color: $sidebarnavbgactive;
                          color: $sidebarnavlinkactive;
                        }
                        a:hover {
                          background-color: $sidebarnavbgactive;
                          color: $sidebarnavlinkactive;
                        }
                      }
                      // end fifth level li
                    }
                    // end fifth level ul
                  }
                  // end fourth level li
                }
                // end fourth level ul
              }
              // end third level li
            }
            // end third level ul
          }
          // end second level li
        }
        // end second level ul
      }
      // end first level li
    }
    // end first level ul
  }
}


// footer

.site-footer {
    background: $footer-bg;
}
