//bootstrap
$theme-colors: ( primary: $accent-shade, secondary: $primary-shade, success: $green, info: $cyan, warning: $yellow, danger: $red, light: $gray-100, dark: $gray-800);

$brand-primary: $dukeroyalblue;
$brand-secondary: $dukeroyalblue;

$brand-success: $green;
$brand-info: $dukeroyalblue;
$brand-warning: $orange;
$brand-danger: $red;

// site default colors

// body
$body-bg: white;
$body-color: $castiron;
$content-bg: white;

// links
$link-color: $dukeroyalblue;
$link-decoration: underline;
$link-hover-color: $dukenavyblue;
$link-hover-decoration: none;

// header
$header-background-color: $brand-primary;
// $header-background-image: "../images/header-bg.png";
$header-link-color: $white;
$site-name-color: white;
$search-box-color: $limestone;
$search-box-text-color: $castiron;
$secondary-menu-link-color: white;

// main nav
$nav-background-color: $castiron;
$nav-link-color: white;
$nav-background-hover-color: $limestone;
$nav-link-hover-color: $castiron;
$nav-background-flyout-hover-color: $limestone;
$nav-link-flyout-hover-color: $castiron;

// main nav Labs and Centers theme
$labs-ctrs-nav-background-color: $dukenavyblue;
$labs-ctrs-nav-link-color: white;
$labs-ctrs-nav-background-hover-color: $limestone;
$labs-ctrs-nav-link-hover-color: $dukenavyblue;
$labs-ctrs-nav-background-flyout-color: $limestone;
$labs-ctrs-nav-link-flyout-color: $dukenavyblue;
$labs-ctrs-nav-background-flyout-hover-color: #efefef;
$labs-ctrs-nav-link-flyout-hover-color: $dukenavyblue;

// Sidebar Nav
$sidebarnavbg: white;
$sidebarnavlink: $dukeroyalblue;
$sidebarnavlinkactive: $dukeroyalblue;
$sidebarnavbgactive: #eeeeee;
$sidebar-menu-border-color: #cccccc;

// Footer 
$footer-bg: $dukeroyalblue;
$footer-text: white;
$footer-link: white;
$footer-heading: $dandelion;

// Element-Specific Color definitions

// Base Elements
$linkcolor: $dukeroyalblue;
$linkhovercolor: $dukenavyblue;
$h1color: $dogwood;
$h2color: $dukenavyblue;
$h3color: $dukeroyalblue;
$h4color: $shaleblue;
$h5color: $graphite;
$h6color: $castiron;

// List Bullets
// Usage: $bullet-1-color: tangerine;
// Allowed values: avocado, bloodorange, dukeblue, fanta, gray, lochmara,
// mineshaft, minty, peachfuzz, pistachio, plum, prussianblue, sulu, tangerine
$bullet-odd-color: $dogwood;
$bullet-even-color: $dukenavyblue;

// Default More Link Button

$morelink: white;
$morelinkborder: $dukeroyalblue;
$morelinkbg: $dukeroyalblue;
$morelink-active: white;
$morelinkborder-active: $dukenavyblue;
$morelinkbg-active: $dukenavyblue;

// Quicktabs
$qttextcolor: white;
$qttextcoloractive: white;
$qtgradienttop: $dukeroyalblue;
$qtgradientbottom: $dukeroyalblue;
$qtborder: $graphite;

// Masonry
$masonryheaderbg: $dukeroyalblue;
$masonryheadercolor: white;
$masonrybgcolor: $limestone;
$masonryframecolor: #bcd8e9;
$masonrytextcolor: $castiron;
$masonryboldtextcolor: $dukeroyalblue;

// Tables
$tableheaderbg: $dukeroyalblue;
$tableheadertext: white;
$tableheaderlink: white;
$tableborder: #eeeeee;
$tablestripecolor: #eeeeee;
$tabletext: $castiron;

// Labels
$label-color: $dukeroyalblue;

// Blockquote
$blockquoteborder: $dogwood;
$blockquoteheading: $dogwood;
$blockquotetext: $graphite;

// Figure
$figurebg: $limestone;
$figuretext: $castiron;

// Calendar Date Widget
$calcolor: $dukeroyalblue;
$calbgcolor: $limestone;

// Events Listings
$datecolor: $graphite;

// Slider Pager Nav Buttons
$slider-pager-nav: $limestone;
$slider-pager-nav-active: $dukeroyalblue;

// buttons
$button-primary-color: $dukeroyalblue;

// tabs
$tab-background-color: white;
$border-color: $granite;

// footer
$footer-bg-color: $castiron;
