/* MIXINS */

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  border-radius: $radius;
  background-clip: padding-box;  /* stops bg color from leaking outside the border: */
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

// lighten function. Usage: color: lighten(#BADA55, 42%);

@function lighten($color, $percentage) {
  @return mix(white, $color, $percentage);
}

// darken function. Usage: color: darken(#BADA55, 42%);

@function darken($color, $percentage) {
  @return mix(black, $color, $percentage);
}

