/* TYPOGRAPHY */

@import url('https://fonts.googleapis.com/css?family=Merriweather:400,400i,700');
$merriweather: 'Merriweather', Georgia, 'Times New Roman', Times, serif;

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i');
$open-sans: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;

@font-face {
  font-family: 'Font Awesome 5 Brands';
  font-style: normal;
  font-weight: normal;
  font-display: auto;
  src: url("../fonts/fa-brands-400.eot");
  src: url("../fonts/fa-brands-400.eot?#iefix") format("embedded-opentype"), url("../fonts/fa-brands-400.woff2") format("woff2"), url("../fonts/fa-brands-400.woff") format("woff"), url("../fonts/fa-brands-400.ttf") format("truetype"), url("../fonts/fa-brands-400.svg#fontawesome") format("svg");
}

body {
  font-family: $open-sans;
}

h1 {
  font-size: 2.3em;
  font-family: $merriweather;
  font-weight:normal;
  line-height: 1.15em;
  margin: 0.5em 0 .5em 0;
}

h2, h3, h4, h5, h6, .h2, .h3, .h4, .h5, .h6, .heading {
 font-family: $merriweather !important;
 margin: 20px 0;
}

@include media-breakpoint-up(lg) {
  h1 {
    font-size: 2.8em;
    margin: 0.5em 0 1.0em 0;
  }
}

@include media-breakpoint-up(xl) {
  h1 {
    font-size: 3.1em;
  }
}

blockquote {
  padding-left: 20px;
  margin: 50px;
  h2, h3, h4, h5, h6, .h2, .h3, .h4, .h5, .h6, .heading p {
    font-family: $merriweather;
  }
  h2, .h2 {
    font-size: 1.6em;
  }
  h3, .h3 {
    font-size: 1.4em;
  }
  h4, .h4 {
    font-size: 1.2em;
  }
  h5, .h5 {
    font-size: 1.2em;
  }
  h6, .h6 {
    font-size: 1.15em;
  }
  p {
    font-size: 1.15em;
    font-style: italic;
    em, i {
      font-style: normal;
    }
  }
}

figure {
  figcaption {
    font-size: .9em;
    padding: 10px;
  }
}

// overflow wrap 

.wrap {
  overflow-wrap: break-word;
}
