// add to cal styling
.addtocal-container {
  float: none;
  margin: 20px 0;
  .addtocal {
    min-width: 180px;
    margin: 10px 0;
    padding: 10px 20px;
    background: $dukeroyalblue;
    color: white;
    border: 0 none;
    @include border-radius(0px);
  }
  .addtocal:hover, .addtocal:focus {
    border-width:0;
    background: $dukeroyalblue;
    outline-width: 0;
  }
  .addtocal-menu {
    top: 53px !important;
    border-color: $dukeroyalblue;
    min-width: 180px;
    background: white;
    @include border-radius(0px);
    .addtocal-links {
      .addtocal-link:nth-of-type(3),
      .addtocal-link:nth-of-type(4) {
        display: none;
      }
      .addtocal-link {
        a {
          padding: 7px 5px 7px 36px;
        }
      }
      .addtocal-link:hover {
        background-color: #efefef;
      }
      .addtocal-link:nth-of-type(1) a {
        background: url(/themes/custom/tts_base/images/google-cal-icon-24x24.png) no-repeat 6px 6px;
      }
      .addtocal-link:nth-of-type(2) a {
        background: url(/themes/custom/tts_base/images/yahoo-cal-icon-24x24.png) no-repeat 6px 6px;
      }
      .addtocal-link:nth-of-type(5) a {
        background: url(/themes/custom/tts_base/images/ical-outlook-icon-24x24.png) no-repeat 6px 6px;
      }
    }
  }
}
