// announcements
.single-announce.view-announcements {
  .view-content {
    margin-top: 2em;
    padding: 20px;
    background: #FCF7E5;
    border: 2px solid #C84E00;
    div.h4 {
      color: #C84E00;
      margin-top: 0;
    }
    a.btn, a.btn-primary {
      margin-bottom: 0;
      background-color: #C84E00;
      border-color: #C84E00;
    }
    a.btn:hover, a.btn-primary:hover {
      background-color: #A03E00;
      border-color: #A03E00;
    }
    .views-row {
      margin-bottom: 1.5em;
      padding-bottom: 0.5em;
      border-bottom: 2px solid #ffcc00;
      p:last-of-type {
        margin-bottom: 0;
      }
    }
    .views-row.last {
      margin-bottom: 0;
      padding-bottom: 0;
      border-bottom: 0 none;
    }
  }
}
