// base styles
.floatelementleft {
  float: left;
  margin: 0 1em 1em 0;
}
.floatelementright {
  float: right;
  margin: 0 0 1em 1em;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
  border-color: #012169; // Duke Navy Blue
  background: #00539B; // Duke Royal Blue
}

span.element-invisible {
  position: absolute !important;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  word-wrap: normal;
}

// sidebar styling
.sidebar-grey-left,
.sidebar-grey-right,
.sidebar-blue-left,
.sidebar-blue-right,
// adding class from imported DukeToday articles
.wp-block-dt-aside {
  width: 30%;
  max-width: 320px;
  padding: 20px;
  .heading, p.link {
    margin: 0;
  }
}
.sidebar-grey-left,
// adding class from imported DukeToday articles
.wp-block-dt-aside {
  float: left;
  margin: 0 20px 20px 0;
  background: $whispergray;
}
.sidebar-grey-right {
  float: right;
  margin: 0 0 20px 20px;
  background: $whispergray;
}
.sidebar-blue-left {
  float: left;
  margin: 0 20px 20px 0;
  background: $hatteras;
}
.sidebar-blue-right {
  float: right;
  margin: 0 0 20px 20px;
  background: $hatteras;
}
@media (max-width: 576px) {
  .sidebar-grey-left,
  .sidebar-grey-right,
  .sidebar-blue-left,
  .sidebar-blue-right {
    float: none;
    width: 100%;
    max-width: none;
    margin: 20px 0 20px 0;
  }
}
.cke_combo__button {
  .sidebar-grey-left,
  .sidebar-grey-right,
  .sidebar-blue-left,
  .sidebar-blue-right {
    float: none;
    margin: 8px 0 8px 0;
    padding: 10px;
  }
}
