.sidebar {
  .block {
    padding: 15px;
    background-color: #eeeeee;
    font-size: 90%;
  }
  .block-menu {
    padding: 0;
    background-color: transparent;
    font-size: 100%;
  }
}
// address WAVE false-positives
#search-block-form label,
#block-tts-sub-mainnavigation-menu,
#block-tts-sub-secondarymenu-menu,
#block-tts-labs-ctrs-mainnavigation-menu,
#block-tts-labs-ctrs-secondarymenu-menu,
#block-mainnavigation-2-menu,
#block-mainnavigation-2--2-menu,
#block-tts-labs-ctrs-mainnavigation-2-menu {
  color: #fff;
}

