.more-link,
.node-readmore,
.link {
  a {
    margin: 15px 15px 15px 0;
    text-align: left;
    clear: both;
    display: inline-block;
    margin-right: 12px;
    background-image: none !important;
  	text-decoration: none;
  	padding: 10px 20px;
    height: auto;
    -o-transition: all .2s linear;
	  -moz-transition: all .2s linear;
	  -webkit-transition: all .2s linear;
	  transition: all .2s linear;
  }
  a:hover {
  	text-decoration: none;
  	-o-transition: all .2s linear;
	  -moz-transition: all .2s linear;
	  -webkit-transition: all .2s linear;
	  transition: all .2s linear;
  }
}

a.btn,
a.btn-primary {
  margin: 15px 15px 15px 0;
  text-align: left;
  clear: both;
  display: inline-block;
  margin-right: 12px;
  background-image: none !important;
  text-decoration: none;
  padding: 10px 20px;
  height: auto;
  border-radius: 0;
  -o-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}
a.btn:hover,
a.btn-primary:hover {
  text-decoration: none;
  -o-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}
