.card {
  border-radius: 0 !important;
  .card-body {
    background-color: #eeeeee;
    .card-title.h5 {
      font-size: 1.1em;
      line-height: 1.4em;
      margin: 0;
      a {
        display: block;
      }
    }
  }
}