.cc-window.cc-banner {
	padding:1.4em 8%
}
.cc-window.cc-banner .cc-message {
	max-width:985px;
	font-size:14px;
	margin-right:8%
}
.cc-window.cc-banner .cc-compliance {
	float:right
}
.cc-window.cc-banner .cc-link {
	padding:0;
}
.cc-btn {
	white-space: nowrap !important;
}
.cc-btn:hover,
.cc-btn:focus {
	color: black !important;
}