// courses
.l_0-99 {
  color: #0577B1;
}
.l_100-199 {
  color: #012169;
}
.l_200-399 {
  color: #527300;
}
.l_400-499 {
  color: #993399;
}
.l_500-699 {
  color: #C84E00;
}
.l_700-999 {
  color: #631323;
}

// featured courses carousel
.top-paragraphs {
  .viewsreference--view-title {
    font-family: "Merriweather",Georgia,"Times New Roman",Times,serif !important;
    color: $graphite;
    padding-bottom: 20px;
    font-size: 1.4rem;
  }
  .view-courses {
    .views-field-title {
      h2 {
        margin-top: 0;
      }
    }
  }
}

