.view-events {
  .date-tag {
    width: 16%;
    min-width: 40px;
    float: left;
    margin-right: 6%;
    background: #e5e5e5;
    .month {
      background: #00539B;
      color: white;
      text-transform: uppercase;
      font-size: .85em;
      text-align: center;
      letter-spacing: 1px;
      padding: 1px;
      font-weight: 600;
    }
    .day {
      font-size: 1.75em;
      margin: .2em 0 0 0;
      text-align: center;
      color: #012169;
    }
    .wkday {
      margin: 0;
      padding: 2px 0;
      font-family: $open-sans !important;
      font-size: .8em;
      font-weight: 600;
      text-transform: uppercase;
      text-align: center;
      letter-spacing: 1px;
      color: #00539b;
      border-bottom: 2px solid #00539b;
    }
  }
  .event-details {
    width: 75%;
    float: left;
    padding-bottom: 1.5em;
    h5, .h5 {
      margin-top: 0;
    }
  }
  .more-link {
    clear: both;
    margin-top: 1em;
    margin-right: 0;
  }
  .views-row {
    clear: both;
    margin-bottom: 1.5em;
  }
  .views-field-nothing-1 {
    clear: both;
    hr {
      margin: -4px;
    }
  }
  .views-row.last {
    margin-bottom: 0;
    .views-field-nothing-1 {
      display: none;
    }
    .event-details {
      padding-bottom: 0;
    }
  }
}
// min height for all events blocks
.view-events.view-display-id-block_2,
.view-events.view-display-id-block_4,
.view-events.view-display-id-block_5,
.view-events.view-display-id-block_15 {
  .views-row {
    min-height: 230px;
  }
}
// hide end date in select views
.single-date {
  .date-tag, .views-field-field-event-date, .event-date, .event-time {
    .datetime:nth-of-type(2) { 
      display:none;
    }
  }
}

// category label
h6.event-series, .h6.event-series {
  margin-bottom: -10px;
  font-size: 1.05rem;
  font-weight: bold;
  font-family: $open-sans !important;
  text-transform: uppercase;
  color: #999;
  letter-spacing: 2px;
}

// paragraph specific
// duke royal blue
.duke-royal-blue {
  .view-events {
    .date-tag {
      .month {
        background: $dukenavyblue;
      }
      .day {
        color: $dukenavyblue;
      }
    }
    .icon:before {
      color: #fff;
    }
  }
}

// event links - more info and webcast
.view-events.view-display-id-entity_view_3 {
  .views-field {
    display: inline-block;
    .more-link {
      a {
        margin-right: 24px;
      }
    }
  }
}

// additional links
.view-events.view-display-id-entity_view_5 {
  article.views-row {
    clear: none;
    margin-bottom: 0;
    display: inline-block;
  }
}
