// Footer

.site-footer {
  padding: 50px 0 30px 0;
  font-size: 0.9em;
  color: white;
  a {
    color: white;
  }
  p {
    margin: 0 0 0.7em 0;
    line-height: 1.4em;
    span {
      display: inline-block;
      width: 1em;
      text-align: center;
    }
  }
  .order-lg-0 {
    img {
      margin-bottom: 30px;
    }
  }
  h2 {
    color: $dandelion;
    font-size: 1.1em;
    margin: 15px 0;
  }
  .footer-link {
    margin: 10px 0;
    line-height: 1.3em;
    a {
      display: inline-block;
    }
    a,
    a:link,
    a:active,
    a:visited {
      color: white;
      text-decoration: none;
    }
    a:hover {
      text-decoration: underline;
    }
  }
  .footer-top {
  }
  .footer-mid {
  }
  .footer-bottom,
  .region-footer-bottom {
    text-align: center;
    #block-tts-labs-ctrs-logoutbutton {
      width: 100%;
    }
    .block-basicshib-login,
    #block-shibbolethlogin {
      padding: 20px;
      margin: 0 auto;
      h2 {
        display: none;
      }
      a {
        color: white;
        background-color: $graphite;
        font-size: 0.8em;
        @include border-radius(5px);
        text-transform: uppercase;
        text-decoration: none;
        padding: 3px 8px;
      }
      a:hover {
        color: $castiron;
        background-color: $limestone;
      }
    }
    .global-footer {
      margin: 5px 0;
      color: white;
      text-align: center;
      a {
        color: white !important;
        text-decoration: underline;
      }
    }
  }
}

