// blazy list
ul.blazy--grid {
  li::before {
    content: none !important;
  }
  li.list-group-item {
    background-image: none;
    background-color: transparent !important;
    border: none;
  }
}

