/* ------------------ Header ------------------ */

#header {
  height: 140px;
  font-family: $open-sans;
  #header-top {
		height: 40px;
		#search-block {
			display: block;
		}
		.menu--secondary-menu {
			display: none;
		}
	}
	#main-header {
		display: flex;
		height: 55px;
		text-align: center;
		.block-system-branding-block {
			margin: 0 auto;
			padding-top: 25px;
			.site-logo {
				padding: 0 15px 0 0;
				margin: 0 15px 0 0;
				height: 50px;
				float: left;
				img {
					height: 50px;
					width: auto !important;
				}
			}
			.site-name {
				font-size: 0 !important;
				color: transparent;;
				margin: 0 auto;
				float: left;
				a {
					img {
						margin: 0 auto;
						padding: 15px 0;
						height: 50px;
					}
				}
			}
		}
	}
	#primary-navigation {
	  display: none;
	}
	@include media-breakpoint-up(sm) {
		#main-header {
	  	.block-system-branding-block {
	  		padding-top: 25px;
				.site-logo {
					height: 55px;
					img {
						height: 55px;
					}
				}
				.site-name {
					a {
						img {
							height: 55px;
						}
					}
				}
			}
	  }
	}
	@include media-breakpoint-up(md) {
		#main-header {
	  	.block-system-branding-block {
	  		padding-top: 20px;
				.site-logo {
					height: 65px;
					img {
						height: 65px;
					}
				}
				.site-name {
					a {
						img {
							height: 65px;
						}
					}
				}
			}
	  }
	}
	@include media-breakpoint-up(lg) {
		#header-top {
			.menu--secondary-menu {
				display: block;
			}
		}
		#main-header {
	  	height: 110px;
	  	text-align: left;
	  	margin-top: 0;
	  	.block-system-branding-block {
				margin: 0;
				padding-top: 0;
				.site-logo {
					padding: 0 25px 0 0;
					margin: 0 25px 0 0;
					height: 75px;
					img {
						height: 75px;
					}
				}
				.site-name {
					a {
						img {
							height: 75px;
						}
					}
				}
			}
	  }
	  #primary-navigation {
	    display: flex;
	  }
	}
}
@include media-breakpoint-up(lg) {
	#header {
		height: 188px;
	}
}

