// Material icons
// for glyphs, see https://material.io/resources/icons/?style=outline

.icon {
  margin: 0 0 4px 24px;
}
.icon:before {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  color: $brand-primary;
  display: inline-block;
  padding: 0 3px 0 0;
  margin-left: -26px;
  vertical-align: text-bottom;
}

footer {
  .icon:before {
    color: $footer-link;
    vertical-align: middle;
  }
}

// Time
.icon.clock:before {
  content: 'schedule';
}

//Date
.icon.calendar:before {
  content: 'date_range';
}

// Location
.icon.pin:before {
  content: 'room';
}

// Phone
.icon.phone:before {
  content: 'phone_iphone';
}

// Email
.icon.email:before {
  content: 'email';
}

// Font Awesome Brand icons
// for glyphs, see https://fontawesome.com/icons?d=gallery&s=brands

.brand-icon {
  margin: 0 0 4px 24px;
  display: inline-block;
}
.brand-icon:before {
  font-family: 'Font Awesome 5 Brands';
  font-weight: normal;
  font-style: normal;
  font-size: 22px;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  color: $brand-primary;
  display: inline-block;
  padding: 0 5px 0 0;
  margin-left: -24px;
  vertical-align: text-bottom;
}

footer {
  .brand-icon:before {
    color: $footer-link;
    vertical-align: middle;
  }
}

// Facebook
.brand-icon.facebook:before {
  content: '\f082';
}

// Twitter
.brand-icon.twitter:before {
  content: '\f081';
}

// YouTube
.brand-icon.youtube:before {
  content: '\f431';
}

// Vimeo
.brand-icon.vimeo:before {
  content: '\f194';
}

// Instagram
.brand-icon.instagram:before {
  content: '\f16d';
}

// LinkedIn
.brand-icon.linkedin:before {
  content: '\f08c';
}

// external links
.external {
//  padding-right: 16px;
//  background: url('/themes/custom/tts_base/images/external_link.png') no-repeat right;
}
.view-id-search .external {
//  padding-right: 34px;
//  background-image: url('/themes/custom/tts_base/images/external_link_search_results_24px.png');
}
.all-news .external {
//  padding-right: 28px;
//  background-image: url('/themes/custom/tts_base/images/external_link_all_news_20px.png');
}

