img {
	max-width: 100%;
	height: auto;
	display: inline-block;
}
.node--type-news-article-imported .align-center>* {
  margin: 0 auto;
  margin-bottom: 20px;
}

// linked image rollover effect

.view,
.text-formatted,
.paragraph {
  a.img-rollover {
    overflow: hidden;
    display: inline-block;
    img {
      -moz-transition: all 0.3s;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
      width: 100%;
    }
  }
  a.img-rollover:hover {
    img {
      -moz-transform: scale(1.05);
      -webkit-transform: scale(1.05);
      transform: scale(1.05);
    }
  }
}
.view,
.text-formatted,
.paragraph {
  a.img-rollover:has(div.align-right),
  a.img-rollover:has(div.align-left),
  a.img-rollover:has(div.align-center) {
    display: inline;
  }
}

