#mm-0 {
  padding-top: 0 !important;
}
#main-wrapper {
  margin-bottom: 50px;
}

.path-frontpage {
	#main-wrapper {
    margin-bottom: 0;
  }
}

#sidebar_first:empty,
#sidebar_second:empty {
    display: none;
}

.padding-10px {
	padding: 10px;
}
.padding-20px {
	padding: 20px;
}
.padding-30px {
	padding: 30px;
}
.add-margin-top {
	margin-top: 30px;
}
.add-margin-bottom {
	margin-bottom: 30px;
}
.add-margin-both {
	margin: 30px 0;
}

@media (max-width: 47.9em) {
  .sidebar-offcanvas {
    position: relative !important;
  }
}
