.field {
  ul {
    list-style: none;
    padding-left: 2em;
    li {
      line-height: 1.6em;
      ul {
        padding-left: 1em;
      }
    }
  }
  ul li::before {
    content: "\25A0";
    color: $bullet-odd-color;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
    position: relative;
    top: -2px;
  }
  ul li ul li ul li::before,
  ul li ul li ul li ul li ul li::before {
    color: $bullet-odd-color;
  }
  ul li ul li::before,
  ul li ul li ul li ul li::before {
    color: $bullet-even-color;
  }
}
.field {
  nav {
    ul {
      li:before {
        display: none;
      }
    }
  }
}
.field {
  ul {
    li {
      p {
        margin: 0;
        display: inline;
      }
    }
  }
}
