.maintenance-header {
	height: 100px;
	background-color: #00539b;
	.maintenance-header-content {
		max-width: 960px;
		margin: 0 auto;
		img.maintenance-logo {
			margin: 20px 0;
			height: 80px;
		}
	}
}
.maintenance-body {
	background-color: white;
	max-width: 960px;
	margin: 0 auto;
	padding-bottom: 50px;
}