// Image caption display
figure {
  display: table;
  figcaption {
    display: table-caption;
    caption-side: bottom;
  }
}

.cke_editable {
  figure {
    display: table;
    figcaption {
      display: table-caption;
      caption-side: bottom;
    }
  }
}

// Embedded entity display
drupal-entity[data-embed-button=embed_video],
drupal-entity[data-embed-button=embed_audio],
.embedded-entity[data-embed-button=embed_video],
.embedded-entity[data-embed-button=embed_audio],
.embedded-entity[data-embed-button=embed_video].align-left,
.embedded-entity[data-embed-button=embed_audio].align-left,
.embedded-entity[data-embed-button=embed_video].align-right,
.embedded-entity[data-embed-button=embed_audio].align-right {
  display: block !important;
  float: none !important;
  width: 100%;
  clear: both;
}

drupal-entity[data-embed-button=embed_image] {
  .align-left {
    display: table;
    margin: 0 20px 20px 0;
    .field--name-field-media-image {
      float: left !important;
    }
  }
}

.embedded-entity[data-embed-button=embed_image].align-left {
  display: table;
  margin: 0 20px 20px 0;
  .field--name-field-media-image {
    float: left !important;
  }
}

figure.caption-drupal-entity.align-left,
figure.image.align-left {
  display: table;
  margin: 0 20px 20px 0;
  .field--name-field-media-image {
    float: left !important;
  }
  figcaption {
    display: table-caption;
    caption-side: bottom;
    width: 100%;
  }
}
div.align-left {
  .field--name-field-media-image {
    display: table;
    margin: 0 20px 20px 0;
  }
}

drupal-entity[data-embed-button=embed_image] {
  .align-right {
    display: table;
    margin: 0 0 20px 20px;
    .field--name-field-media-image {
      float: right !important;
    }
  }
}

.embedded-entity[data-embed-button=embed_image].align-right {
  display: table;
  margin: 0 0 20px 20px;
  .field--name-field-media-image {
    float: right !important;
  }
}

figure.caption-drupal-entity.align-right,
figure.image.align-right {
  display: table;
  margin: 0 0 20px 20px;
  .field--name-field-media-image {
    float: right !important;
  }
  figcaption {
    display: table-caption;
    caption-side: bottom;
    width: 100%;
  }
}
div.align-right {
  .field--name-field-media-image {
    display: table;
    margin: 0 0 20px 20px;
  }
}

drupal-entity[data-embed-button=embed_image] {
  .align-center,
  figure.align-center {
    float: none !important;
    text-align: center;
    display: table !important;
    margin: 30px auto;
    figcaption {
      display: table-caption;
      caption-side: bottom;
      text-align: left;
    }
    div {
      width: 100%;
      margin: 0 auto;
      .field--name-field-media-image {
        float: none !important;
        display: block !important;
        img {
          margin: 0 auto;
        }
      }
    }
  }
}

.embedded-entity[data-embed-button=embed_image].align-center,
figure.align-center {
  float: none !important;
  text-align: center;
  display: table !important;
  margin: 30px auto;
  figcaption {
    display: table-caption;
    caption-side: bottom;
  }
  div {
    width: 100%;
    margin: 0 auto;
    .field--name-field-media-image {
      float: none !important;
      display: block !important;
      img {
        margin: 0 auto;
      }
    }
  }
}

.media-wrapper {
  margin: 30px auto !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

@include media-breakpoint-down(sm) {
  .embedded-entity,
  figure {
    width: 100%;
    .field--name-field-media-image {
      width: 100%;
      img {
        width: 100%;
      }
    }
  }
  .cke_widget_element,
  .cke_widget_wrapper {
    .embedded-entity,
    figure {
      width: auto !important;
      .field--name-field-media-image {
        width: auto !important;
        img {
          width: auto !important;
        }
      }
    }
  }
}

// Hide captions for audio, video, and files
drupal-entity[data-embed-button=embed_audio] figure.caption-drupal-entity,
drupal-entity[data-embed-button=embed_file] figure.caption-drupal-entity,
drupal-entity[data-embed-button=embed_video] figure.caption-drupal-entity,
.embedded-entity[data-embed-button=embed_audio] figure.caption-drupal-entity,
.embedded-entity[data-embed-button=embed_file] figure.caption-drupal-entity,
.embedded-entity[data-embed-button=embed_video] figure.caption-drupal-entity {
  display: inline !important;
  float: none !important;
}

drupal-entity[data-embed-button=embed_audio]+figcaption,
drupal-entity[data-embed-button=embed_file]+figcaption,
drupal-entity[data-embed-button=embed_video]+figcaption,
.embedded-entity[data-embed-button=embed_audio]+figcaption,
.embedded-entity[data-embed-button=embed_file]+figcaption,
.embedded-entity[data-embed-button=embed_video]+figcaption {
  display: none !important;
}

.cke_image_resizer_wrapper {
  display: block !important;
}

// Videos
.field--name-field-media-oembed-video,
.views-field-field-media-oembed-video {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

// Files
drupal-entity[data-embed-button=embed_file],
.embedded-entity[data-embed-button=embed_file] {
  float: none !important;
  text-align: left;
  display: block !important;
  margin: 0 !important;
  clear: both;
}
li {
  drupal-entity[data-embed-button=embed_file],
  .embedded-entity[data-embed-button=embed_file] {
    display: inline-block !important;
  }
}

// View modes
.one-hundred-percent {
  width: 100%;
}

// CKEditor widget
drupal-entity.cke_widget_element {
  .media--view-mode-_5-width {
    .media-wrapper {
      width: 66%;
      max-width: 66%;
    }
  }
}

.cke_widget_wrapper {
  drupal-entity[data-align=right] {
    display: inline-block;
    float: right;
  }
}

.cke_widget_wrapper {
  drupal-entity[data-align=left] {
    display: inline-block;
    float: left;
  }
}

// Figcaption styles
figcaption,
.field--name-name,
.field--name-field-video-description {
  font-size: .9em;
  text-align: left;
  padding: 10px;
}

// Firefox hack for figcaptions
@-moz-document url-prefix() {
  figure.caption-drupal-entity.align-left,
  figure.caption-drupal-entity.align-right {
    display: inline-block !important;
  }
  figure.caption-drupal-entity.align-center {
    display: table !important;
    figcaption {
      display: table-caption !important
    }
  }
}

// duke today img alignment
.alignleft {
  float: left;
  margin: 0 20px 20px 0;
}
.alignright {
  float: right;
  margin: 0 0 20px 20px;
}
@include media-breakpoint-down(sm) {
  .alignleft {
    float: none;
    margin: 0;
  }
  .alignright {
    float: none;
    margin: 0;
  }
}
.wp-block-dt-utility-col-50 {
  width: 48%;
  float: left;
  margin: 1em 1%;
  figure {
    figcaption {
      br {
        display: none !important;
      }
    }
  }
}
@include media-breakpoint-down(md) {
  .wp-block-dt-utility-col-50 {
    width: 100%;
    float: none;
    margin: 0 0 1em 0;
  }
}
.heading {
  font-size: 1.2em;
}
.text-container {
  p.created {
    font-size: .9em;
    color: #888;
    margin-top: 1rem;
  }
  h3 {
    span {
      font-size: .75em;
      margin: 0;
    }
  }
  p.link {
    display: none;
  }
}
