drupal-entity[data-embed-button=media_entity_embed] {
  figure {
    display: inline-block;
  }
}

drupal-entity[data-embed-button=media_entity_embed] {
  .align-left {
    float: none !important;
    .field--name-field-media-image {
      float: left !important;
      margin: 0 20px 20px 0;
    }
    .field--name-field-media-oembed-video {
      margin: 30px auto;
    }
  }
}

.embedded-entity[data-embed-button=media_entity_embed].align-left {
  float: none !important;
  .field--name-field-media-image {
    float: left !important;
    margin: 0 20px 20px 0;
  }
  .field--name-field-media-oembed-video {
    margin: 30px auto;
  }
}

drupal-entity[data-embed-button=media_entity_embed] {
  .align-right {
    float: none !important;
    .field--name-field-media-image {
      float: right !important;
      margin: 0 0 20px 20px;
    }
    .field--name-field-media-oembed-video {
      margin: 30px auto;
    }
  }
}

.embedded-entity[data-embed-button=media_entity_embed].align-right {
  float: none !important;
  .field--name-field-media-image {
    float: right !important;
    margin: 0 0 20px 20px;
  }
  .field--name-field-media-oembed-video {
    margin: 30px auto;
  }
}

drupal-entity[data-embed-button=media_entity_embed] {
  .align-center,
  figure.align-center {
    float: none !important;
    text-align: center;
    display: inline !important;
    margin: 30px auto;
    figcaption {
      display: table-caption;
      text-align: left;
    }
    div {
      width: 100%;
      margin: 0 auto;
      .field--name-field-media-image {
        float: none !important;
        display: block !important;
        img {
          margin: 0 auto;
        }
      }
    }
  }
}

.embedded-entity[data-embed-button=media_entity_embed].align-center,
figure.align-center {
  float: none !important;
  text-align: center;
  display: inline !important;
  margin: 30px auto;
  figcaption {
    display: table-caption;
  }
  div {
    width: 100%;
    margin: 0 auto;
    .field--name-field-media-image {
      float: none !important;
      display: block !important;
      img {
        margin: 0 auto;
      }
    }
  }
}
