//member view css
.view-members,
.view-administrative-positions {
  .views-row {
    .node--view-mode-administrative-position {
      margin-bottom: 30px;
      h2, h3, h4, .h2, .h3, .h4 {
        font-size: 1.2rem;
        margin: 0 0 15px 0;
      }
      h5, .h5 {
        font-size: 1.1rem;
        margin: 0 0 10px 0;
      }
      h6, .h6 {
        margin: 0 0 10px 0;
        font-size: .9rem;
        br {
          content: " ";
          display: block;
          margin: 20px 0;
        }
      }
      a {
        display: inline;
        overflow-wrap: break-word;
      }
      .view-eva {
        .views-row {
          margin-bottom: 0;
        }
      }
    }
  }
  .views-row.last {
    .node--view-mode-administrative-position {
      margin-bottom: 0;
    }
  }
}

//truncate long emails and web site links
.view-members {
  h6, .h6 {
    br {
      content: " ";
      display: block;
      margin: 20px 0;
    }
  }
  .views-field-field-email {
    .field-content {
      max-width: 220px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: #00539B;
    }
    .field-content:hover {
      color: #012169;
    }
  }
  .views-field-field-websites {
    .field-content {
      max-width: 220px;
      overflow: hidden;
      text-overflow: ellipsis;
      color: #00539B;
    }
    .field-content:hover {
      color: #012169;
    }
  }
}

.view-administrative-positions {
  .views-field-field-administrative-email {
    .field-content {
      max-width: 180px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: #00539B;
    }
    .field-content:hover {
      color: #012169;
    }
  }
}
