// Styles for Labs and Centers theme

body.tts-labs-ctrs {
  #header {
    height: 196px !important;
    #primary-navigation {
      background-color: $labs-ctrs-nav-background-color;
      margin-top: 8px !important;
      .main-navbar {
        background-color: transparent;
        ul.menu[id^="disclosure-menu"] {
          li {
            color: $labs-ctrs-nav-link-color;
            background-color: transparent;
            a,
            span {
              color: $labs-ctrs-nav-link-color;
              height: 37px;
            }
            a:hover,
            span:hover {
              color: $labs-ctrs-nav-link-hover-color;
            }
            button.menu__submenu-toggle[aria-expanded="false"]::after {
              color: $labs-ctrs-nav-link-color;
            }
            button.menu__submenu-toggle[aria-expanded="true"]::after {
              color: $labs-ctrs-nav-link-color;
            }
            ul.menu__submenu--disclosure {
              li {
                color: $labs-ctrs-nav-link-flyout-color;
                background-color: $labs-ctrs-nav-background-flyout-color;
                a,
                span {
                  color: $labs-ctrs-nav-link-flyout-color;
                  background-color: $labs-ctrs-nav-background-flyout-color;
                  height: auto;
                }
                a:hover {
                  color: $labs-ctrs-nav-link-flyout-hover-color;
                  background-color: $labs-ctrs-nav-background-flyout-hover-color;
                }
              }
              li:hover {
                color: $labs-ctrs-nav-link-flyout-hover-color;
                background-color: $labs-ctrs-nav-background-flyout-hover-color;
                a,
                span {
                  color: $labs-ctrs-nav-link-flyout-hover-color;
                  background-color: $labs-ctrs-nav-background-flyout-hover-color;
                }
              }
            }
          }
          li:hover {
            color: $labs-ctrs-nav-link-hover-color;
            background-color: $labs-ctrs-nav-background-hover-color;
            a,
            span {
              color: $labs-ctrs-nav-link-hover-color;
            }
            button.menu__submenu-toggle[aria-expanded="true"]::after {
              color: $labs-ctrs-nav-link-hover-color;
            }
          }
        }
        [id^="disclosure-menu"] .menu__submenu-container {
          background-color: $labs-ctrs-nav-background-color;
        }
      }
    }
    #primary-navigation.affix {
      border-top: none !important;
      margin-top: 0 !important;
    }
  }

  // add active state to main menu parent item
  #header {
    #primary-navigation {
      .main-navbar {
        nav {
          ul.menu {
            li.menu__item--active-trail {
              color: $labs-ctrs-nav-link-hover-color;
              background-color: $labs-ctrs-nav-background-hover-color;
              a.is-active,
              .menu__item-link {
                color: $labs-ctrs-nav-link-hover-color;
                background-color: $labs-ctrs-nav-background-hover-color;
              }
              button.menu__submenu-toggle[aria-expanded="false"]::after {
                color: $labs-ctrs-nav-link-hover-color;
              }
              button.menu__submenu-toggle[aria-expanded="true"]::after {
                color: $labs-ctrs-nav-link-hover-color;
              }
            }
            li.menu__item--active-trail:hover {
              color: $labs-ctrs-nav-link-hover-color;
              background-color: $labs-ctrs-nav-background-hover-color;
            }
          }
        }
      }
    }
  }
}

