#primary-navigation {
  background-color: $nav-background-color;
  height: 38px;
  padding: 0 !important;
  font-size: .8em;
  .block-superfish {
    display:inline-block;
    width:100%;
    margin: 0;
    position: relative;
    background-color: $nav-background-color;
    ul.menu {
      list-style-type: none;
      list-style: none;
      margin: 0 auto;
      padding:0;
      max-width: 1140px;
      border: none;
      text-align: center;
      li {
        float: none;
        display: inline-block;
        border: none;
        text-align: center;
        a,
        span {
          display: block;
          padding: 8px 12px;
          letter-spacing: 1.1px;
          color: $nav-link-color;
          background-color: $nav-background-color;
          text-decoration: none;
          text-align: left;
          line-height: 1.42857143;
          height: 38px;
          -webkit-tap-highlight-color: rgba(0,0,0,0);
          -webkit-tap-highlight-color: transparent;
          -o-transition: color .2s linear, background-color .2s linear;
          -moz-transition: color .2s linear, background .2s linear;
          -webkit-transition: color .2s linear, background-color .2s linear;
          transition: color .2s linear, background-color .2s linear;
        }
        a:hover {
          color: $nav-link-hover-color;
          background-color: $nav-background-hover-color;
          -o-transition: color .2s linear, background-color .2s linear;
          -moz-transition: color .2s linear, background-color .2s linear;
          -webkit-transition: color .2s linear, background-color .2s linear;
          transition: color .2s linear, background-color .2s linear;
        }
        ul {
          li {
            a,
            span {
              text-align: left;
              height: auto;
            }
            a:hover {
              color: $nav-link-flyout-hover-color;
              background-color: $nav-background-flyout-hover-color;
              -o-transition: color .2s linear, background-color .2s linear;
              -moz-transition: color .2s linear, background-color .2s linear;
              -webkit-transition: color .2s linear, background-color .2s linear;
              transition: color .2s linear, background-color .2s linear;
            }
          }
        }
      }
    }
    ul.sf-menu li:hover ul, 
    ul.sf-menu li.sfHover ul {
      top: 38px;
      li {
        ul {
          top: 0;
        }
      }
    }
  }
}
// add active state to main menu parent item
#primary-navigation {
  .block-superfish {
    ul.menu {
      li.active-trail.sf-depth-1 > a, span {
        color: $nav-link-hover-color;
        background-color: white;
      }
    }
  }
}



@include media-breakpoint-up(xl) {
  #primary-navigation {
    font-size: 1em;
  }
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.user-logged-in {
  .affix {
    position: relative;
    z-index: 1;
  }
}

.sticky + .l-main {
  padding-top: 38px !important;
}

// Sidebar Menu

.l-region--sidebar-second {
  background-color: white !important;
  .block {
    background-color: #eeeeee;
    padding: 10px;
  }
  nav.block {
    background-color: white !important;
    padding: 0 !important;
    ul {
      list-style: none;
      list-style-type: none;
      li {
        list-style-type: none;
        background-image: none;
      }
    }
  }
}
