.menu--secondary-menu {
	float: right;
	ul.menu--secondary-menu {
		margin: 12px 20px 0 0;
		li {
			border-right: 1px solid $secondary-menu-link-color;
			float: left;
			a {
				color: $secondary-menu-link-color;
				padding: 0 12px;
        color: #ffffff;
        text-decoration: none;
        font-weight:normal;
        font-size: .875em;
			}
			a:hover {
				text-decoration: underline;
			}
			&:last-child {
        border: none;
        a {
          padding-right: 0;
        }
      }
		}
	}
}