#primary-navigation {
  background-color: $nav-background-color;
  height: 38px !important;
  padding: 0 !important;
  font-size: .8em;
  justify-content: center;
  .main-navbar {
    display:inline-block;
    width:100%;
    margin: 0;
    position: relative;
    background-color: $nav-background-color;
    height: 38px;
    ul.menu[id^="disclosure-menu"] {
      list-style-type: none;
      list-style: none;
      margin: 0 auto;
      padding:0;
      max-width: 1140px;
      border: none;
      text-align: center;
      li {
        color: $nav-link-color;
        background-color: $nav-background-color;
        border: none;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        -webkit-tap-highlight-color: transparent;
        -o-transition: color .2s linear, background-color .2s linear;
        -moz-transition: color .2s linear, background .2s linear;
        -webkit-transition: color .2s linear, background-color .2s linear;
        transition: color .2s linear, background-color .2s linear;
        a,
        span {
          color: $nav-link-color;
          padding: 7px 12px;
          letter-spacing: 1.1px;
          text-decoration: none;
          text-align: left;
          height: 38px;
          display: flex !important;
          align-items: center;
        }
        a:hover,
        span:hover {
          color: $nav-background-color;
        }
        button.menu__submenu-toggle {
          background-color: transparent;
          width: 13px;
          padding-right: 8px;
          border: none;
          box-sizing: border-box;
          position: relative;
          display: block;
          transform: scale(var(--ggs,1));
          width: 14px;
          height: 12px;
          border: 1px dotted transparent;
          span {
            position: absolute;
            width: 1px;
            height: 1px;
            padding: 0;
            margin: -1px;
            overflow: hidden;
            clip: rect(0, 0, 0, 0);
            white-space: nowrap;
            border-width: 0;
          }
        }
        button.menu__submenu-toggle:focus-visible {
          border: 1px dotted white;
        }
        button.menu__submenu-toggle[aria-expanded="false"]::after {
          content: "";
          color: $nav-link-color;
          display: block;
          box-sizing: border-box;
          position: absolute;
          width: 5px;
          height: 5px;
          border-bottom: 2px solid;
          border-right: 2px solid;
          transform: rotate(45deg);
          left: 2px;
          top: 2px
        }
        button.menu__submenu-toggle[aria-expanded="true"]::after {
          content: "";
          color: $nav-link-color;
          display: block;
          box-sizing: border-box;
          position: absolute;
          width: 5px;
          height: 5px;
          border-bottom: 2px solid;
          border-right: 2px solid;
          transform: rotate(225deg);
          left: 2px;
          top: 4px
        }
        ul.menu__submenu--disclosure {
          list-style-type: none;
          list-style: none;
          margin-left: 0 ;
          padding-left: 0;
          li {
            list-style-type: none;
            list-style: none;
            margin-left: 0 ;
            padding-left: 0;
            color: $nav-link-color;
            background-color: $nav-background-color;
            -o-transition: color .2s linear, background-color .2s linear;
            -moz-transition: color .2s linear, background-color .2s linear;
            -webkit-transition: color .2s linear, background-color .2s linear;
            transition: color .2s linear, background-color .2s linear;
            a,
            span {
              color: $nav-link-color;
              text-align: left;
              height: auto;
              width: 100%;
              display: block;
              line-height: 1.2em;
              padding: 7px 12px;
            }
            a:hover {
              color: $nav-link-hover-color;
            }
          }
          li.menu__item--active-trail {
            a,
            span {
              color: $nav-link-hover-color;
            }
          }
          li:hover {
            color: $nav-link-hover-color;
            background-color: $nav-background-hover-color;
            -o-transition: color .2s linear, background-color .2s linear;
            -moz-transition: color .2s linear, background-color .2s linear;
            -webkit-transition: color .2s linear, background-color .2s linear;
            transition: color .2s linear, background-color .2s linear;
            a,
            span {
              color: $nav-link-hover-color;
            }
          }
        }
      }
      li:hover {
        color: $nav-link-hover-color;
        background-color: $nav-background-hover-color;
        -o-transition: color .2s linear, background-color .2s linear;
        -moz-transition: color .2s linear, background-color .2s linear;
        -webkit-transition: color .2s linear, background-color .2s linear;
        transition: color .2s linear, background-color .2s linear;
        a,
        span {
          color: $nav-link-hover-color;
        }
        button.menu__submenu-toggle[aria-expanded="false"]::after {
          content: "";
          color: $nav-link-color;
        }
        button.menu__submenu-toggle[aria-expanded="true"]::after {
          content: "";
          color: $nav-link-hover-color !important;
        }
      }
      li.menu__item--has-submenu {
        a.menu__item-link {
          padding: 7px 1px 7px 12px; 
          display: block;
          width: 100%;
        }
        span.menu__item-link {
          padding: 7px 1px 7px 12px;
          cursor: default;
          display: block;
          width: 100%;
        }
      }
    }
    ul.menu[id^="disclosure-menu"] {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 100%;
    }
    ul.menu[id^="disclosure-menu"].horizontal {
      gap: 0 !important;
    }
    [id^="disclosure-menu"] .menu__item-container {
      display: flex;
      align-items: center !important;
      width: 100%;
    }
    
    [id^="disclosure-menu"] li.menu__item,
    [id^="disclosure-menu"] li.menu__submenu-item {
      position: relative;
    }
    
    [id^="disclosure-menu"] .menu__submenu-container {
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 1;
      min-width: 250px;
      background-color: $nav-background-color;
      box-shadow: none !important;
    }
  }
}
// add active state to main menu parent item
#primary-navigation {
  .main-navbar {
    ul.menu[id^="disclosure-menu"] {
      li.menu__item--active-trail {
        color: $nav-link-hover-color;
        background-color: $nav-background-hover-color !important;
        a.is-active,
        .menu__item-link {
          color: $nav-link-hover-color;
          background-color: $nav-background-hover-color;
        }
        a.is-active:hover,
        .menu__item-link:hover {
          color: $nav-link-hover-color;
          background-color: $nav-background-hover-color;
        }
        button.menu__submenu-toggle[aria-expanded="false"]::after {
          color: $nav-link-hover-color;
        }
        button.menu__submenu-toggle[aria-expanded="true"]::after {
          color: $nav-link-hover-color !important;
        }
      }
      li.menu__item--active-trail:hover {
        color: $nav-link-hover-color;
        background-color: $nav-background-hover-color;
      }
    }
  }
}


@include media-breakpoint-up(xl) {
  #primary-navigation {
    font-size: 1em;
    line-height: 1.2em;
  }
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.user-logged-in {
  .affix {
    position: relative;
    z-index: 1;
  }
}

.sticky + .l-main {
  padding-top: 37px !important;
}

// Sidebar Menu

.l-region--sidebar-second {
  background-color: white !important;
  .block {
    background-color: #eeeeee;
    padding: 10px;
  }
  nav.block {
    background-color: white !important;
    padding: 0 !important;
    ul {
      list-style: none;
      list-style-type: none;
      li {
        list-style-type: none;
        background-image: none;
      }
    }
  }
}
