// toggle-icon

.responsive-menu-toggle {
	.responsive-menu-toggle-icon {
		span.icon {
			margin: 0 !important;
		}
	}
}

#toggle-icon {
	box-sizing: border-box;
	display: block;
	width: 70px;
	height: 45px;
	z-index: 2;
	span {
		display: inline-block;
		text-indent: -9999px;
	}
}
#toggle-icon:before,
#toggle-icon:after,
#toggle-icon span {
	background: #fff;
	content: '';
	display: block;
	width: 30px;
	height: 5px;
	position: absolute;
	left: 20px;
}
#toggle-icon:before {
	top: 10px;
}
#toggle-icon span {
	top: 20px;
}
#toggle-icon:after {
	top: 30px;
}

// toggle-icon animation

#toggle-icon:before,
#toggle-icon:after,
#toggle-icon span {
	-webkit-transition: none 0.5s ease 0.5s;
	transition: none 0.5s ease 0.5s;
	-webkit-transition-property: transform, top, bottom, left, opacity;
	transition-property: transform, top, bottom, left, opacity;
}
.mm-wrapper_opened #toggle-icon:before,
.mm-wrapper_opened #toggle-icon:after {
	top: 20px;	
}
.mm-wrapper_opened #toggle-icon span {
	left: -50px;
	opacity: 0;
}
.mm-wrapper_opened #toggle-icon:before {
	transform: rotate( 45deg );
	-webkit-transform: rotate( 45deg );
	-ms-transform: rotate( 45deg );
}
.mm-wrapper_opened #toggle-icon:after {
	transform: rotate( -45deg );
	-webkit-transform: rotate( -45deg );
	-ms-transform: rotate( -45deg );
}

// Overlay

#mm-blocker {
	opacity:0 !important;
}

// Menu Styles

.mm-menu_offcanvas {
  width: 80%;
  min-width: 240px;
  max-width: 440px;
  .mm-panel {
		background-color: $dukeroyalblue;
		color:#ffffff;
		.mm-navbar,
		.mm-listview {
			background-color: $dukeroyalblue;
			color:#ffffff;
			font-family: $open-sans;
			font-size:15px !important;
			width: 100%;
			a.mm-navbar__title:hover {
				color: $dandelion;
				background: rgba(255, 255, 255, 0.07);
			}
			.mm-navbar__btn {
				background-color: rgba(255, 255, 255, 0.07);
				border-left: 1px solid rgba(0,0,0,.75);
				&:before {
					border-color: white;
				}
				&:after {
					border-color: white;
				}
				&:hover {
					background-color: $dukeroyalblue;
				}
				&:hover:before {
					border-color: $dandelion;
				}
				&:hover:after {
					border-color: $dandelion;
				}
			}
			.mm-listitem {
				padding:0 !important;
				.mm-listitem__text:hover {
					color: $dandelion;
					background: rgba(255, 255, 255, 0.07);
				}
				.mm-listitem__btn {
					background-color: rgba(255, 255, 255, 0.07);
					border-left: 1px solid rgba(0,0,0,.75);
					border-right: 1px solid rgba(0,0,0,.75);
					&:before {
						border-color: white;
					}
					&:after {
						border-color: white;
					}
					&:hover {
						background-color: $dukeroyalblue;
					}
					&:hover:before {
						border-color: $dandelion;
					}
					&:hover:after {
						border-color: $dandelion;
					}
				}
				&:after {
					left: 0;
				}
			}
		}
		.mm-navbar {
			display: flex;
		}
		.mm-listview {
			display: block;
		}
	}
}




// Search Field

.mm-menu {
  .search-block-form--3 {
		padding: 19px 20px 20px 20px;
    .form-type-textfield {
    	width:100%;
	    .form-text {
	      background-color: tint($midnightblue, 10%);
	      margin: 0;
	      @include border-radius(20px);
	      border-width: 1px;
	      border-style: solid;
	      border-color: $matisse;
	      color: rgb(255, 255, 255);
	      font-size: 14px;
	      height: 34px;
	      padding: 0 0 0 10px;
	      width:75%;
	      -webkit-box-shadow: inset 2px 2px 7px -1px rgba(0,0,0,0.5);
				-moz-box-shadow: inset 2px 2px 7px -1px rgba(0,0,0,0.5);
				box-shadow: inset 2px 2px 7px -1px rgba(0,0,0,0.5);
	    }
	  }
	  .form-submit {
      background-color: $midnightblue;
      border-width: 2px;
      border-style: solid;
      border-color: $matisse;
      margin: 0 0 0 0.5em;
      @include border-radius(20px);
      color: $prussianblue;
      font-size: 14px;
      text-indent: -9999px;
      width: 46px;
      height: 34px;
      background: $prussianblue url("../images/search.png") 48% 40% no-repeat;
      padding: 0;
      text-shadow: none;
    }
  }
}

//Hide FOUC

#off-canvas:not( .mm-menu ) {
   display: none;
}

// focus
.mm-menu_keyboardfocus, .mm-menu_keyboardfocus.mm-menu_opened~.mm-wrapper__blocker {
  a:focus {
    border: 1px solid white;
  }
}
