#sidebar_second {
  .menu--main {
    margin: 30px 0 50px 0;
    h2 {
      display:none;
    }
    ul.menu  {
      // first level ul
      list-style-type: none;
      padding: 0;
      margin: 0;
      li {
        // first level li
        list-style-image: none;
        list-style-type: none;
        padding: 0;
        margin: 0;
        a {
          color: $dukeroyalblue;
          font-weight: 400;
          text-decoration: none;
          line-height: 1.2em;
          padding: 8px 10px !important;
          display: block;
          -o-transition: color .2s linear, background .2s linear;
          -moz-transition: color .2s linear, background .2s linear;
          -webkit-transition: color .2s linear, background .2s linear;
          transition: color .2s linear, background .2s linear;
        }
        a:hover {
          background-color: #eeeeee;
          -o-transition: color .2s linear, background .2s linear;
          -moz-transition: color .2s linear, background .2s linear;
          -webkit-transition: color .2s linear, background .2s linear;
          transition: color .2s linear, background .2s linear;
        }
        a.is-active {
          background-color: $limestone;
        }
        ul {
        // second level ul
          margin:0;
          padding:0;
          list-style-type: none;
          li {
          // second level li
            padding:0;
            list-style-type: none;
            list-style-image: none;
            a {
              font-weight: 400;
              padding: 8px 10px 8px 25px !important;
            }
            ul {
            // third level ul
              margin:0;
              padding:0;
              list-style-type: none;
              li {
              // third level li
                padding:0;
                list-style-type: none;
                list-style-image: none;
                a {
                  font-weight: 400;
                  padding: 8px 10px 8px 40px !important;
                }
                ul {
                // fourth level ul
                  margin:0;
                  padding:0;
                  list-style-type: none;
                  li {
                  // fourth level li
                    padding:0;
                    list-style-type: none;
                    list-style-image: none;
                    a {
                      font-weight: 400;
                      padding: 8px 10px 8px 55px !important;
                    }
                  }
                  // end fourth level li
                }
                // end fourth level ul
              }
              // end third level li
            }
            // end third level ul
          }
          // end second level li
        }
        // end second level ul
      }
      // end first level li
    }
    // end first level ul
  }
  // end .menu--main
}
// child indicators
#sidebar_second {
  nav.menu--main {
    // first level
    ul.menu {
      // first level with children, collapsed
      li.menu-item--collapsed {
        a {
          background-image: url("../images/icons/children-collapsed.png"); 
          background-repeat: no-repeat;
          background-position: top right;
          padding-right: 20px !important;
        }
      }
      // first level with children, expanded
      li.menu-item--expanded {
        a.active {
          background-image: url("../images/icons/children-expanded-gray.png");
          background-repeat: no-repeat;
          background-position: top right;
          padding-right: 20px !important;
        }
      }
      // first level with children, expanded and active
      li.menu-item--expanded {
        a.active.is-active {
          background-image: url("../images/icons/children-expanded.png");
          background-repeat: no-repeat;
          background-position: top right;
          padding-right: 20px !important;
        }
        // second level
        ul {
          // second level reset background image
          li.active {
            a.active.is-active {
              background-image: unset;
            }
          }
          // second level with children, collapsed
          li.menu-item--collapsed {
            a {
              background-image: url("../images/icons/children-collapsed.png"); 
              background-repeat: no-repeat;
              background-position: top right;
              padding-right: 20px !important;
            }
          }
          // second level with children, expanded
          li.menu-item--expanded {
            a.active {
              background-image: url("../images/icons/children-expanded-gray.png");
              background-repeat: no-repeat;
              background-position: top right;
              padding-right: 20px !important;
            }
          }
          // second level with children, expanded and active
          li.menu-item--expanded {
            a.active.is-active {
              background-image: url("../images/icons/children-expanded.png");
              background-repeat: no-repeat;
              background-position: top right;
              padding-right: 20px !important;
            }
            // third level
            ul {
              // third level reset background image
              li.active {
                a.active.is-active {
                  background-image: unset;
                }
              }
              // third level with children, collapsed
              li.menu-item--collapsed {
                a {
                  background-image: url("../images/icons/children-collapsed.png"); 
                  background-repeat: no-repeat;
                  background-position: top right;
                  padding-right: 20px !important;
                }
              }
              // third level with children, expanded
              li.menu-item--expanded {
                a.active {
                  background-image: url("../images/icons/children-expanded-gray.png");
                  background-repeat: no-repeat;
                  background-position: top right;
                  padding-right: 20px !important;
                }
              }
              // third level with children, expanded and active
              li.menu-item--expanded {
                a.active.is-active {
                  background-image: url("../images/icons/children-expanded.png");
                  background-repeat: no-repeat;
                  background-position: top right;
                  padding-right: 20px !important;
                }
                // fourth level
                ul {
                  // fourth level reset background image
                  li.active {
                    a.active.is-active {
                      background-image: unset;
                    }
                  }
                  // fourth level with children, collapsed
                  li.menu-item--collapsed {
                    a {
                      background-image: url("../images/icons/children-collapsed.png"); 
                      background-repeat: no-repeat;
                      background-position: top right;
                      padding-right: 20px !important;
                    }
                  }
                  // fourth level with children, expanded
                  li.menu-item--expanded {
                    a.active {
                      background-image: url("../images/icons/children-expanded-gray.png");
                      background-repeat: no-repeat;
                      background-position: top right;
                      padding-right: 20px !important;
                    }
                  }
                  // fourth level with children, expanded and active
                  li.menu-item--expanded {
                    a.active.is-active {
                      background-image: url("../images/icons/children-expanded.png");
                      background-repeat: no-repeat;
                      background-position: top right;
                      padding-right: 20px !important;
                    }
                    // fifth level
                    ul {
                      // fifth level reset background image
                      li.active {
                        a.active.is-active {
                          background-image: unset;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
// end #sidebar_second
