// news
.all-news {
  .views-row {
    clear: both;
    margin-bottom: 1em;
    hr {
      clear: both;
    }
  }
}

p.byline {
  font-weight: bold;
  color: $dogwood;
}

.view-news {
  .views-row.last {
    .views-field-nothing {
      hr {
        display: none;
      }
    }
  }
  .more-link {
    clear: both;
  }
}
.news-carousel.view-news {
  margin: 2em 0;
  .slick-slide {
    padding: 10px;
  }
}
.five-stacked.view-news, .five-stacked.view-trinity-news {
  .row-0, article:nth-child(1) {
    width: 48%;
    margin-right: 4%;
    float: left;
  }
  .row-1, article:nth-child(2) {
    width: 48%;
    float: left;
    margin-right: 0;
  }
  .row-2, article:nth-child(3) {
    clear: both;
    width: 31%;
    margin-right: 3.5%;
    float: left;
  }
  .row-3, article:nth-child(4) {
    width: 31%;
    margin-right: 3.5%;
    float: left;
  }
  .row-4, article:nth-child(5) {
    width: 31%;
    float: left;
    margin-right: 0;
  }
  @include media-breakpoint-down(sm) {
    .row-0,
    article:nth-child(1),
    article:nth-child(2),
    article:nth-child(3),
    article:nth-child(4),
    article:nth-child(5),
    .row-1,
    .row-2,
    .row-3,
    .row-4 {
      width: 100%;
      max-width: 560px;
      margin: 0 auto 50px auto;
      float: none;
    }
  }
} // end .five-stacked

.three-stacked.view-news, .three-stacked.view-trinity-news { // need to check responsiveness
  .row-1, article:nth-child(2) {
    width: 48%;
    margin-right: 4%;
    float: left;
  }
  .row-2, article:nth-child(3) {
    width: 48%;
    float: left;
  }
  @include media-breakpoint-down(sm) {
    .row-0,
    article:nth-child(2),
    article:nth-child(3)
    .row-1,
    .row-2 {
      width: 100%;
      max-width: 560px;
      margin: 0 auto 50px auto;
      float: none;
    }
  }
} // end .three-stacked


.node--type-news-article-imported {
  figure {
    display: table;
    br {
      display: none
    }
    img {
      display: inline;
    }
    figcaption {
      display: table-caption;
      caption-side: bottom;
      br {
        display: block;
      }
    }
  }
}


.node--type-news-article-imported .align-center>* {
  margin: 0 auto;
  margin-bottom: 20px;
}

// main image caption
.news-img {
  max-width: 400px;
}
.news-img-caption {
  background-color: #e5e5e5;
  font-size: 0.9em;
  line-height: 1.2em;
  padding: 8px;
  border-radius: 0 0 3px 3px;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
}

// wide news image
.view-news.view-display-id-entity_view_6,
.view-trinity-news.view-display-id-entity_view_6 {
  margin-top: 2em;
  position: relative;
}

@media (min-width: 768px) {
  .all-news {
    .views-row {
      min-height: 250px;
    }
  }
}
