.paragraph--type-infographics {
	max-width: 1140px;
	.bs-region {
		float: left;
		.infographic-wrapper {
			background: $dandelion;
			background-size: cover;
			border-radius: 50%;
			position: relative;
			width: 100%;
			margin: 60px 0 50px 0;
			padding-top: 100%;
			.field--type-image {
				position: absolute;
				top: -25px; 
				left: 0; 
				bottom: 0; 
				right: 0; 
				text-align: center; 
				img {
					margin: 0 auto;
					width: 40%;
				}
			}
			.infographic-text-wrapper {
				position: absolute;
				left: 0;
				right: 0;
				top: 45%;
				width: 70%;
				margin: 0 auto;
				.field--type-string {

					font-family: $merriweather;
					text-align: center;
					margin: 0 auto;
				}
				.field--name-field-info-text-1.field--type-string,
				.field--name-field-info-text-2.field--type-string,
				.field--name-field-info-text-3.field--type-string {
					font-size: 1.6em;
					line-height: 1.2em;
					margin-top: -25px;
				}
				.field--name-field-info-figure-1.field--type-string,
				.field--name-field-info-figure-2.field--type-string,
				.field--name-field-info-figure-3.field--type-string {
					font-size: 4em;
				}
				@include media-breakpoint-up(xs) {
					.field--name-field-info-text-1.field--type-string,
					.field--name-field-info-text-2.field--type-string,
					.field--name-field-info-text-3.field--type-string {
						font-size: 2em;
						line-height: 1.2em;
					}
					.field--name-field-info-figure-1.field--type-string,
					.field--name-field-info-figure-2.field--type-string,
					.field--name-field-info-figure-3.field--type-string {
						font-size: 3.6em;
					}
				}
				@include media-breakpoint-up(sm) {
					.field--name-field-info-text-1.field--type-string,
					.field--name-field-info-text-2.field--type-string,
					.field--name-field-info-text-3.field--type-string {
						font-size: 1.2em;
						line-height: 1.1em;
					}
					.field--name-field-info-figure-1.field--type-string,
					.field--name-field-info-figure-2.field--type-string,
					.field--name-field-info-figure-3.field--type-string {
						font-size: 2.5em;
					}
				}
				@include media-breakpoint-up(md) {
					.field--name-field-info-text-1.field--type-string,
					.field--name-field-info-text-2.field--type-string,
					.field--name-field-info-text-3.field--type-string {
						font-size: 1.6em;
						line-height: 1.1em;
					}
					.field--name-field-info-figure-1.field--type-string,
					.field--name-field-info-figure-2.field--type-string,
					.field--name-field-info-figure-3.field--type-string {
						font-size: 4em;
					}
				}
				@include media-breakpoint-up(lg) {
					.field--name-field-info-text-1.field--type-string,
					.field--name-field-info-text-2.field--type-string,
					.field--name-field-info-text-3.field--type-string {
						font-size: 1.5em;
						line-height: 1.2em;
					}
					.field--name-field-info-figure-1.field--type-string,
					.field--name-field-info-figure-2.field--type-string,
					.field--name-field-info-figure-3.field--type-string {
						font-size: 3em;
					}
				}
				@include media-breakpoint-up(xl) {
					.field--name-field-info-text-1.field--type-string,
					.field--name-field-info-text-2.field--type-string,
					.field--name-field-info-text-3.field--type-string {
						font-size: 1.6em;
						line-height: 1.2em;
					}
					.field--name-field-info-figure-1.field--type-string,
					.field--name-field-info-figure-2.field--type-string,
					.field--name-field-info-figure-3.field--type-string {
						font-size: 4em;
					}
				}
			}
		}
	}
}
