.paragraph--bp-accordion-container {
  margin: 30px 0;
  padding-top: 0;
  .paragraph.paragraph--type--bp-accordion {
    .card {
      margin-bottom: 3px;
      border: none !important;
      .paragraph p {
        color: $castiron;
      }
      .card-header {
        padding: .5rem;
        margin-bottom: 20px;
        .card-title, .panel-title {
          margin-bottom: 0;
          a {
            text-decoration: none;
            font-weight: bold;
            color: white;
            display: block;
            padding: 10px;
          }
        }
      }
      .card-block {
        margin-top: -20px;
        margin-bottom: 20px;
        border: 1px solid rgba(0,0,0,0.125);
        .paragraph.paragraph--type-bp-simple {
          padding-top: 15px;
          padding-bottom: 15px;
        }
      }
      .collapse,
      .collapsing,
      .show {
        padding: 0;
      }
    }
    .panel-heading {
      a:after {
        float: right;
      }
      a[aria-expanded=false].display:after {
        content: "+";
      }
      a[aria-expanded=true].display:after {
        content: "-";
      }
    }
  }
}

