.paragraph.container {
	margin: 30px auto !important;
}

//.paragraph.no-gutters {
//	padding-left: 0 !important;
//	padding-right: 0 !important;
//}

.paragraph__column .paragraph.container {
	margin: 0 auto !important;
}