.paragraph--type--bp-tabs {
  margin: 30px 0;
}
.tab-content {
  //padding: 1rem;
  border-left: 1px solid rgba(0,0,0,0.125);
  border-bottom: 1px solid rgba(0,0,0,0.125);
  border-right: 1px solid rgba(0,0,0,0.125);
  border-radius: 0 0 .25rem .25rem;
  .tab-pane {
    .paragraph.paragraph--type-bp-simple {
      padding-top: 15px;
      padding-bottom: 15px;
    }
  }
}

.tab-pane.active {
    animation: opac 1.5s
}

@keyframes opac {
  from {
      opacity: 0
  }
  to {
      opacity: 1
  }
}
