.paragraph--type--img-feat-200,
.paragraph--type-img-feat-200 {
  height: 200px;
}

.paragraph--type--img-feat-300 {
  height: 300px;
}

.paragraph--type--img-feat-500-static,
.paragraph--type--img-feat-500-para,
.paragraph--type-img-feat-500-static,
.paragraph--type-img-feat-500-para {
  .paragraph-photo-bg {
    height: 350px;
    .paragraph-photo-bg-content-wrapper {
      max-width: 1140px;
      margin: 0 auto;
      padding: 15px 15px 15px 0;
      display: block;
      position: relative;
      height: 100%;
      .paragraph-photo-bg-content {
        font-size: 0.8em;
        background: rgba(38, 38, 38, 0.9);
        color: white;
        padding: 15px;
        max-width: 800px;
        display: block;
        position: absolute;
        bottom: 30px;
        h2,
        h3,
        h4,
        h4,
        h5,
        h6 {
          color: white;
          margin: 0 0 15px 0;
        }
        a {
          color: $dandelion;
          text-decoration: underline;
        }
        a.btn-primary {
          color: white !important;
          text-decoration: none !important;
          margin-bottom: 0 !important;
        }
        p {
          margin: 0;
        }
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  .paragraph--type--img-feat-500-static,
  .paragraph--type--img-feat-500-para,
  .paragraph--type-img-feat-500-static,
  .paragraph--type-img-feat-500-para {
    .paragraph-photo-bg {
      height: 500px;
      .paragraph-photo-bg-content-wrapper {
        .paragraph-photo-bg-content {
          font-size: 1em;
          padding: 30px;
        }
      }
    }
  }
}

.paragraph--type--image-feature-720px-parallax,
.paragraph--type--image-feature-720px-static {
  height: 400px;
  .paragraph-photo-bg {
    display: block;
    overflow: hidden;
    height: 400px;
    -o-transition: height 0.2s linear;
    -moz-transition: height 0.2s linear;
    -webkit-transition: height 0.2s linear;
    transition: height 0.2s linear;
    max-width: 1500px;
    margin: 0 auto;
    .paragraph-photo-bg-content-wrapper {
      max-width: 1140px;
      margin: 0 auto;
      display: block;
      position: relative;
      height: 100%;
      .paragraph-photo-bg-content {
        padding: 0;
        display: block;
        position: absolute;
        bottom: 20px;
        .field--name-field-big-text {
          color: white;
          font-family: $open-sans;
          font-size: 2.2em;
          line-height: 1.1;
          text-shadow: 3px 3px 9px #000;
          margin: 0 0 20px 0;
        }
        .field--name-field-copy {
          background-color: rgba(38, 38, 38, 0.8);
          color: white;
          padding: 10px 20px;
          margin: 0 0 10px 0;
          font-size: 0.8em;
          display: inline-block;
          p {
            margin: 0;
          }
        }
        .field--name-field-call-to-action-button {
          a {
            font-size: 0.8em;
            margin: 0 0 10px 0;
          }
        }
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  .paragraph--type--image-feature-720px-parallax,
  .paragraph--type--image-feature-720px-static {
    height: 550px !important;
    .paragraph-photo-bg {
      height: 550px !important;
      -o-transition: height 0.2s linear;
      -moz-transition: height 0.2s linear;
      -webkit-transition: height 0.2s linear;
      transition: height 0.2s linear;
      .paragraph-photo-bg-content-wrapper {
        .paragraph-photo-bg-content {
          max-width: 75%;
          padding: 20px 15px 0 15px;
          bottom: 40px;
          .field--name-field-big-text {
            font-size: 5em !important;
          }
          .field--name-field-copy {
            padding: 20px !important;
            font-size: 1em !important;
          }
          .field--name-field-call-to-action-button {
            a {
              padding: 10px 20px !important;
              font-size: 1em !important;
            }
          }
        }
      }
    }
  }
}

@include media-breakpoint-up(xl) {
  .paragraph--type--image-feature-720px-parallax,
  .paragraph--type--image-feature-720px-static {
    height: 720px !important;
    .paragraph-photo-bg {
      height: 720px !important;
      -o-transition: height 0.2s linear;
      -moz-transition: height 0.2s linear;
      -webkit-transition: height 0.2s linear;
      transition: height 0.2s linear;
    }
    .paragraph-photo-bg-content-wrapper {
      .field--name-field-big-text {
        font-size: 4em !important;
      }
    }
  }
}

// pseudo-fix for parallax on iOS
@supports (-webkit-touch-callout: none) {
  .paragraph--type-img-feat-500-para {
    background-attachment: scroll !important;
  }
}

