// Copper, C84E00

.copper,
.dogwood .copper,
.duke-navy-blue .copper,
.eno .copper,
.ginger-beer .copper,
.graphite .copper,
.hatteras .copper,
.heritage-green .copper,
.ironweed .copper,
.limestone .copper,
.piedmont .copper {
  background-color: $copper;
  color: white;
  p {
    color: white;
  }
  h2, .h2, h2.block__title {
    color: white;
  }
  h3, .h3 {
    color: $gingerbeer;
  }
  h4, .h4 {
    color: white;
  }
  h5, .h5 {
    color: $limestone;
  }
  h6, .h6 {
    color: white;
  }
  a, a:link, a:visited {
    color: $dandelion;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  }
  a:hover {
    color: $gingerbeer;
  }
  blockquote {
    border-left-color: $dandelion;
  }
  .field {
    ul li::before,
    ul li ul li ul li::before,
    ul li ul li ul li ul li ul li::before {
      color: $dandelion;
    }
    ul li ul li::before,
    ul li ul li ul li ul li::before {
      color: $persimmon;
    }
  }
  .more-link a,
  .readmore a,
  .node-readmore a,
  .btn-primary {
    color: $dandelion !important;
    border-color: $castiron !important;
    background-color: $castiron !important;
  }
  .more-link a:hover,
  .readmore a:hover,
  .node-readmore a:hover,
  .btn-primary:hover {
    color: $castiron !important;
    border-color: lighten($dandelion, 40%) !important;
    background-color: lighten($dandelion, 40%) !important;
  }
  .slick-dots {
    li {
      button {
        color: white !important;
      }
      button:hover {
        color: $dandelion !important;
      }
    }
    li.slick-active {
      button {
        color: $dandelion !important;
      }
    }
  }
}

// Dogwood, 8A715C

.dogwood,
.duke-navy-blue .dogwood,
.duke-royal-blue .dogwood,
.eno .dogwood,
.ginger-beer .dogwood,
.graphite .dogwood,
.hatteras .dogwood,
.heritage-green .dogwood,
.ironweed .dogwood,
.limestone .dogwood,
.piedmont .dogwood {
  background-color: $dogwood;
  color: white;
  p {
    color: white;
  }
  h2, .h2, h2.block__title {
    color: white;
  }
  h3, .h3 {
    color: $gingerbeer;
  }
  h4, .h4 {
    color: white;
  }
  h5, .h5 {
    color: $limestone;
  }
  h6, .h6 {
    color: white;
  }
  a, a:link, a:visited {
    color: $peachfuzz;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  }
  a:hover {
    color: $wheat;
  }
  blockquote {
    border-left-color: $wheat;
  }
  .field {
    ul li::before,
    ul li ul li ul li::before,
    ul li ul li ul li ul li ul li::before {
      color: $dandelion;
    }
    ul li ul li::before,
    ul li ul li ul li ul li::before {
      color: $persimmon;
    }
  }
  .more-link a,
  .readmore a,
  .node-readmore a,
  .btn-primary {
    color: $castiron !important;
    border-color: $dandelion !important;
    background-color: $dandelion !important;
  }
  .more-link a:hover,
  .readmore a:hover,
  .node-readmore a:hover,
  .btn-primary:hover {
    color: $castiron !important;
    border-color: lighten($dandelion, 40%) !important;
    background-color: lighten($dandelion, 40%) !important;
  }
  .slick-dots {
    li {
      button {
        color: white !important;
      }
      button:hover {
        color: $dandelion !important;
      }
    }
    li.slick-active {
      button {
        color: $dandelion !important;
      }
    }
  }
}

// Duke Navy Blue, 012169

.duke-navy-blue,
.dogwood .duke-navy-blue,
.duke-royal-blue .duke-navy-blue,
.eno .duke-navy-blue,
.ginger-beer .duke-navy-blue,
.graphite .duke-navy-blue,
.hatteras .duke-navy-blue,
.heritage-green .duke-navy-blue,
.ironweed .duke-navy-blue,
.limestone .duke-navy-blue,
.piedmont .duke-navy-blue {
  background-color: $dukenavyblue;
  color: white;
  p {
    color: white;
  }
  h2, .h2, h2.block__title{
    color: white;
  }
  h3, .h3 {
    color: $gingerbeer;
  }
  h4, .h4 {
    color: white;
  }
  h5, .h5 {
    color: $hatteras;
  }
  h6, .h6 {
    color: white;
  }
  a, a:link, a:visited {
    color: $dandelion;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  }
  a:hover {
    color: $gingerbeer;
  }
  blockquote {
    border-left-color: $dandelion;
  }
  .field {
    ul li::before,
    ul li ul li ul li::before,
    ul li ul li ul li ul li ul li::before {
      color: $dandelion;
    }
    ul li ul li::before,
    ul li ul li ul li ul li::before {
      color: $persimmon;
    }
  }
  .more-link a,
  .readmore a,
  .node-readmore a,
  .btn-primary {
    color: $castiron !important;
    border-color: $dandelion !important;
    background-color: $dandelion !important;
  }
  .more-link a:hover,
  .readmore a:hover,
  .node-readmore a:hover,
  .btn-primary:hover {
    color: $castiron !important;
    border-color: lighten($dandelion, 40%) !important;
    background-color: lighten($dandelion, 40%) !important;
  }
  .slick-dots {
    li {
      button {
        color: white !important;
      }
      button:hover {
        color: $dandelion !important;
      }
    }
    li.slick-active {
      button {
        color: $dandelion !important;
      }
    }
  }
}

// Duke Royal Blue, 00539B

.duke-royal-blue,
.dogwood .duke-royal-blue,
.duke-navy-blue .duke-royal-blue,
.eno .duke-royal-blue,
.ginger-beer .duke-royal-blue,
.graphite .duke-royal-blue,
.hatteras .duke-royal-blue,
.heritage-green .duke-royal-blue,
.ironweed .duke-royal-blue,
.limestone .duke-royal-blue,
.piedmont .duke-royal-blue {
  background-color: $dukeroyalblue;
  color: white;
  p {
    color: white;
  }
  h2, .h2, h2.block__title {
    color: white;
  }
  h3, .h3 {
    color: $gingerbeer;
  }
  h4, .h4 {
    color: white;
  }
  h5, .h5 {
    color: $limestone;
  }
  h6, .h6 {
    color: white;
  }
  a, a:link, a:visited {
    color: $dandelion;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  }
  a:hover {
    color: $gingerbeer;
  }
  blockquote {
    border-left-color: $dandelion;
  }
  .field {
    ul li::before,
    ul li ul li ul li::before,
    ul li ul li ul li ul li ul li::before {
      color: $dandelion;
    }
    ul li ul li::before,
    ul li ul li ul li ul li::before {
      color: $persimmon;
    }
  }
  .more-link a,
  .readmore a,
  .node-readmore a,
  .btn-primary {
    color: $castiron !important;
    border-color: $dandelion !important;
    background-color: $dandelion !important;
  }
  .more-link a:hover,
  .readmore a:hover,
  .node-readmore a:hover,
  .btn-primary:hover {
    color: $castiron !important;
    border-color: lighten($dandelion, 40%) !important;
    background-color: lighten($dandelion, 40%) !important;
  }
  .slick-dots {
    li {
      button {
        color: white !important;
      }
      button:hover {
        color: $dandelion !important;
      }
    }
    li.slick-active {
      button {
        color: $dandelion !important;
      }
    }
  }
}

// Eno, 339898
.eno,
.dogwood .eno,
.duke-navy-blue .eno,
.duke-royal-blue .eno,
.ginger-beer .eno,
.graphite .eno,
.hatteras .eno,
.heritage-green .eno,
.ironweed .eno,
.limestone .eno,
.piedmont .eno {
  background-color: $eno;
  color: white;
  p {
    color: white;
  }
  h2, .h2, h2.block__title {
    color: white;
  }
  h3, .h3 {
    color: $dandelion;
  }
  h4, .h4 {
    color: $gingerbeer;
  }
  h5, .h5 {
    color: $hatteras;
  }
  h5, .h5 {
    color: $shackleford;
  }
  h6, .h6 {
    color: white;
  }
  a, a:link, a:visited {
    color: $dandelion;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  }
  a:hover {
    color: $limestone;
  }
  blockquote {
    border-left-color: $magnolia;
  }
  .field {
    ul li::before,
    ul li ul li ul li::before,
    ul li ul li ul li ul li ul li::before {
      color: $dandelion;
    }
    ul li ul li::before,
    ul li ul li ul li ul li::before {
      color: $hatteras;
    }
  }
  .more-link a,
  .readmore a,
  .node-readmore a,
  .btn-primary {
    color: white !important;
    border-color: $magnolia !important;
    background-color: $magnolia !important;
  }
  .more-link a:hover,
  .readmore a:hover,
  .node-readmore a:hover,
  .btn-primary:hover {
    color: white !important;
    border-color: darken($magnolia, 40%) !important;
    background-color: darken($magnolia, 40%) !important;
  }
  .slick-dots {
    li {
      button {
        color: white !important;
      }
      button:hover {
        color: $magnolia !important;
      }
    }
    li.slick-active {
      button {
        color: $magnolia !important;
      }
    }
  }
}

// Ginger Beer, FCF7E5

.ginger-beer,
.dogwood .ginger-beer,
.duke-navy-blue .ginger-beer,
.duke-royal-blue .ginger-beer,
.eno .ginger-beer,
.graphite .ginger-beer,
.hatteras .ginger-beer,
.heritage-green .ginger-beer,
.ironweed .ginger-beer,
.limestone .ginger-beer,
.piedmont .ginger-beer {
  background-color: $gingerbeer;
  color: $castiron;
  p {
    color: $castiron;
  }
  h2, .h2, h2.block__title {
    color: $dogwood;
  }
  h3, .h3 {
    color: $dukeroyalblue;
  }
  h4, .h4 {
    color: $droste;
  }
  h5, .h5 {
    color: $graphite;
  }
  h6, .h6 {
    color: $dogwood;
  }
  a, a:link, a:visited {
    color: $dukeroyalblue;
    text-shadow: 1px 1px 5px rgba(255, 255, 255, 0.3);
  }
  a:hover {
    color: $dukenavyblue;
  }
  blockquote {
    border-left-color: $dogwood;
  }
  .field {
    ul li::before,
    ul li ul li ul li::before,
    ul li ul li ul li ul li ul li::before {
      color: $dukeroyalblue;
    }
    ul li ul li::before,
    ul li ul li ul li ul li::before {
      color: $dogwood;
    }
  }
  .more-link a,
  .readmore a,
  .node-readmore a,
  .btn-primary {
    color: white !important;
    border-color: $dukeroyalblue !important;
    background-color: $dukeroyalblue !important;
  }
  .more-link a:hover,
  .readmore a:hover,
  .node-readmore a:hover,
  .btn-primary:hover {
    color: white !important;
    border-color: darken($dukeroyalblue, 20%) !important;
    background-color: darken($dukeroyalblue, 20%) !important;
  }
  .slick-dots {
    li {
      button {
        color: $dogwood !important;
      }
      button:hover {
        color: $dukeroyalblue !important;
      }
    }
    li.slick-active {
      button {
        color: $dukeroyalblue !important;
      }
    }
  }
}

// Graphite, 666666 and Black (000000)

.graphite,
.dogwood .graphite,
.duke-navy-blue .graphite,
.duke-royal-blue .graphite,
.eno .graphite,
.ginger-beer .graphite,
.hatteras .graphite,
.heritage-green .graphite,
.ironweed .graphite,
.limestone .graphite,
.piedmont .graphite,
.black,
.dogwood .black,
.duke-navy-blue .black,
.duke-royal-blue .black,
.eno .black,
.ginger-beer .black,
.hatteras .black,
.heritage-green .black,
.ironweed .black,
.limestone .black,
.piedmont .black {
  background-color: #454545;
  color: white;
  p {
    color: white;
  }
  h2, .h2, h2.block__title {
    color: white;
  }
  h3, .h3 {
    color: $limestone;
  }
  h4, .h4 {
    color: white;
  }
  h5, .h5 {
    color: $persimmon;
  }
  h6, .h6 {
    color: white;
  }
  a, a:link, a:visited {
    color: $dandelion;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  }
  a:hover {
    color: $limestone;
  }
  blockquote {
    border-left-color: $limestone;
  }
  .field {
    ul li::before,
    ul li ul li ul li::before,
    ul li ul li ul li ul li ul li::before {
      color: $dandelion;
    }
    ul li ul li::before,
    ul li ul li ul li ul li::before {
      color: $persimmon;
    }
  }
  .more-link a,
  .readmore a,
  .node-readmore a,
  .btn-primary {
    color: $castiron !important;
    border-color: $dandelion !important;
    background-color: $dandelion !important;
  }
  .more-link a:hover,
  .readmore a:hover,
  .node-readmore a:hover,
  .btn-primary:hover {
    color: $castiron !important;
    border-color: darken($dandelion, 20%) !important;
    background-color: darken($dandelion, 20%) !important;
  }
  .slick-dots {
    li {
      button {
        color: white !important;
      }
      button:hover {
        color: $dandelion !important;
      }
    }
    li.slick-active {
      button {
        color: $dandelion !important;
      }
    }
  }
}
.black,
.dogwood .black,
.duke-navy-blue .black,
.duke-royal-blue .black,
.eno .black,
.ginger-beer .black,
.hatteras .black,
.heritage-green .black,
.ironweed .black,
.limestone .black,
.piedmont .black {
  background-color: #000000;
}
.black {
  .view-display-id-large_feature_slider .feature-slide, .view-feature-sliders.view-display-id-block_1 .feature-slide, .node--type-feature-slide .feature-slide {
    background-color: transparent !important;
  }
}

// Hatteras, E2E6ED

.hatteras,
.dogwood .hatteras,
.duke-navy-blue .hatteras,
.duke-royal-blue .hatteras,
.eno .hatteras,
.ginger-beer .hatteras,
.graphite .hatteras,
.heritage-green .hatteras
.ironweed .hatteras,
.limestone .hatteras,
.piedmont .hatteras {
  background-color: $hatteras;
  color: $castiron;
  p {
    color: $castiron;
  }
  h2, .h2, h2.block__title {
    color: $dukeroyalblue;
  }
  h3, .h3 {
    color: $dukenavyblue;
  }
  h4, .h4 {
    color: $graphite;
  }
  h5, .h5 {
    color: $dukeroyalblue;
  }
  h5, .h5 {
    color: $dukenavyblue;
  }
  h6, .h6 {
    color: $dukeroyalblue;
  }
  a, a:link, a:visited {
    color: $dukeroyalblue;
    text-shadow: 1px 1px 5px rgba(255, 255, 255, 0.3);
  }
  a:hover {
    color: $dukenavyblue;
  }
  blockquote {
    border-left-color: $dukeroyalblue;
  }
  .field {
    ul li::before,
    ul li ul li ul li::before,
    ul li ul li ul li ul li ul li::before {
      color: $dukeroyalblue;
    }
    ul li ul li::before,
    ul li ul li ul li ul li::before {
      color: $graphite;
    }
  }
  .more-link a,
  .readmore a,
  .node-readmore a,
  .btn-primary {
    color: white !important;
    border-color: $dukeroyalblue !important;
    background-color: $dukeroyalblue !important;
  }
  .more-link a:hover,
  .readmore a:hover,
  .node-readmore a:hover,
  .btn-primary:hover {
    color: white !important;
    border-color: darken($dukeroyalblue, 40%) !important;
    background-color: darken($dukeroyalblue, 40%) !important;
  }
  .slick-dots {
    li {
      button {
        color: white !important;
      }
      button:hover {
        color: $dukeroyalblue !important;
      }
    }
    li.slick-active {
      button {
        color: $dukeroyalblue !important;
      }
    }
  }
}

// Heritage Green, 527300

.heritage-green,
.dogwood .heritage-green,
.duke-navy-blue .heritage-green,
.duke-royal-blue .heritage-green,
.eno .heritage-green,
.ginger-beer .heritage-green,
.graphite .heritage-green,
.ironweed .heritage-green,
.limestone .heritage-green,
.piedmont .heritage-green {
  background-color: $heritagegreen;
  color: white ;
  p {
    color: white;
  }
  h2, .h2, h2.block__title {
    color: white;
  }
  h3, .h3 {
    color: white;
  }
  h4, .h4 {
    color: $gingerbeer;
  }
  h5, .h5 {
    color: $dandelion;
  }
  h6, .h6 {
    color: white;
  }
  a, a:link, a:visited {
    color: $dandelion;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  }
  a:hover {
    color: #ffd960;
  }
  blockquote {
    border-left-color: white;
  }
  .field {
    ul li::before,
    ul li ul li ul li::before,
    ul li ul li ul li ul li ul li::before {
      color: $dandelion;
    }
    ul li ul li::before,
    ul li ul li ul li ul li::before {
      color: $gingerbeer;
    }
  }
  .more-link a,
  .readmore a,
  .node-readmore a,
  .btn-primary {
    color: $castiron !important;
    border-color: $dandelion !important;
    background-color: $dandelion !important;
  }
  .more-link a:hover,
  .readmore a:hover,
  .node-readmore a:hover,
  .btn-primary:hover {
    color: $castiron !important;
    border-color: darken($dandelion, 20%) !important;
    background-color: darken($dandelion, 20%) !important;
  }
  .slick-dots {
    li {
      button {
        color: white !important;
      }
      button:hover {
        color: $dandelion !important;
      }
    }
    li.slick-active {
      button {
        color: $dandelion !important;
      }
    }
  }
}

// Ironweed, 993399

.ironweed,
.dogwood .ironweed,
.duke-navy-blue .ironweed,
.duke-royal-blue .ironweed,
.eno .ironweed,
.ginger-beer .ironweed,
.graphite .ironweed,
.hatteras .ironweed,
.heritage-green .ironweed,
.limestone .ironweed,
.piedmont .ironweed {
  background-color: $ironweed;
  color: white;
  p {
    color: white;
  }
  h2, .h2, h2.block__title {
    color: white;
  }
  h3, .h3 {
    color: $gingerbeer;
  }
  h4, .h4 {
    color: white;
  }
  h5, .h5 {
    color: $persimmon;
  }
  h6, .h6 {
    color: white;
  }
  a, a:link, a:visited {
    color: $dandelion;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  }
  a:hover {
    color: $persimmon;
  }
  blockquote {
    border-left-color: $persimmon;
  }
  .field {
    ul li::before,
    ul li ul li ul li::before,
    ul li ul li ul li ul li ul li::before {
      color: $dandelion;
    }
    ul li ul li::before,
    ul li ul li ul li ul li::before {
      color: $persimmon;
    }
  }
  .more-link a,
  .readmore a,
  .node-readmore a,
  .btn-primary {
    color: $castiron !important;
    border-color: $dandelion !important;
    background-color: $dandelion !important;
  }
  .more-link a:hover,
  .readmore a:hover,
  .node-readmore a:hover,
  .btn-primary:hover {
    color: $castiron !important;
    border-color: lighten($dandelion, 40%) !important;
    background-color: lighten($dandelion, 40%) !important;
  }
  .slick-dots {
    li {
      button {
        color: white !important;
      }
      button:hover {
        color: $persimmon !important;
      }
    }
    li.slick-active {
      button {
        color: $persimmon !important;
      }
    }
  }
}

// Limestone, E5E5E5

.limestone,
.dogwood .limestone,
.duke-navy-blue .limestone,
.duke-royal-blue .limestone,
.eno .limestone,
.ginger-beer .limestone,
.graphite .limestone,
.hatteras .limestone,
.heritage-green .limestone,
.ironweed .limestone,
.piedmont .limestone {
  background-color: $limestone;
  color: $castiron;
  p {
    color: $castiron;
  }
  h2, .h2, h2.block__title {
    color: $dukeroyalblue;
  }
  h3, .h3 {
    color: $dogwood;
  }
  h4, .h4 {
    color: $graphite;
  }
  h5, .h5 {
    color: $dukenavyblue;
  }
  h6, .h6 {
    color: $castiron;
  }
  a, a:link, a:visited {
    color: $dukeroyalblue;
    text-shadow: 1px 1px 5px rgba(255, 255, 255, 0.3);
  }
  a:hover {
    color: $dukenavyblue;
  }
  blockquote {
    border-left-color: $dukeroyalblue;
  }
  .field {
    ul li::before,
    ul li ul li ul li::before,
    ul li ul li ul li ul li ul li::before {
      color: $dogwood;
    }
    ul li ul li::before,
    ul li ul li ul li ul li::before {
      color: $dukeroyalblue;
    }
  }
  .more-link a,
  .readmore a,
  .node-readmore a,
  .btn-primary {
    color: white !important;
    border-color: $dukeroyalblue !important;
    background-color: $dukeroyalblue !important;
  }
  .more-link a:hover,
  .readmore a:hover,
  .node-readmore a:hover,
  .btn-primary:hover {
    color: white !important;
    border-color: darken($dukeroyalblue, 20%) !important;
    background-color: darken($dukeroyalblue, 20%) !important;
  }
  .slick-dots {
    li {
      button {
        color: $dogwood !important;
      }
      button:hover {
        color: $dukeroyalblue !important;
      }
    }
    li.slick-active {
      button {
        color: $dukeroyalblue !important;
      }
    }
  }
}

// Piedmont, A1B70D

.piedmont,
.dogwood .piedmont,
.duke-navy-blue .piedmont,
.duke-royal-blue .piedmont,
.eno .piedmont,
.ginger-beer .piedmont,
.graphite .piedmont,
.hatteras .piedmont,
.heritage-green .piedmont,
.ironweed .piedmont,
.limestone .piedmont {
  background-color: $piedmont;
  color: white ;
  p {
    color: white;
  }
  h2, .h2, h2.block__title {
    color: $dukenavyblue;
  }
  h3, .h3 {
    color: $dukeroyalblue;
  }
  h4, .h4 {
    color: $castiron;
  }
  h5, .h5 {
    color: $dukeroyalblue;
  }
  h6, .h6 {
    color: $dukenavyblue;
  }
  a, a:link, a:visited {
    color: $dukeroyalblue;
    text-shadow: 1px 1px 5px rgba(255, 255, 255, 0.3);
  }
  a:hover {
    color: $dukenavyblue;
  }
  blockquote {
    border-left-color: $heritagegreen;
  }
  .field {
    ul li::before,
    ul li ul li ul li::before,
    ul li ul li ul li ul li ul li::before {
      color: $dukeroyalblue;
    }
    ul li ul li::before,
    ul li ul li ul li ul li::before {
      color: $castiron;
    }
  }
  .more-link a,
  .readmore a,
  .node-readmore a,
  .btn-primary {
    color: white !important;
    border-color: $dukeroyalblue !important;
    background-color: $dukeroyalblue !important;
  }
  .more-link a:hover,
  .readmore a:hover,
  .node-readmore a:hover,
  .btn-primary:hover {
    color: white !important;
    border-color: darken($dukeroyalblue, 20%) !important;
    background-color: darken($dukeroyalblue, 20%) !important;
  }
  .slick-dots {
    li {
      button {
        color: white !important;
      }
      button:hover {
        color: $dukeroyalblue !important;
      }
    }
    li.slick-active {
      button {
        color: $dukeroyalblue !important;
      }
    }
  }
}

// White #fff
.white,
.dogwood .white,
.duke-navy-blue .white,
.duke-royal-blue .white,
.eno .white,
.ginger-beer .white,
.graphite .white,
.hatteras .white,
.heritage-green .white,
.ironweed .white,
.limestone .white {
  background-color: #fff;
}

// TEXTURES


// White texture
.dots {
  background-image: url(../images/textures/dots-black-6.png);
}
.escher {
  background-image: url(../images/textures/escher-black-6.png);
}
.lines {
  background-image: url(../images/textures/lines-black.png);
}
.prism {
  background-image: url(../images/textures/prism-white.png);
}
.triangles {
  background-image: url(../images/textures/triangles-black.png);
}
.wall {
  background-image: url(../images/textures/limestone-stone.jpg);
}
.chalkboard {
  background-image: url(../images/textures/chalkboard-white.jpg);
}
.waves {
  background-image: url(../images/textures/waves-black-67.png);
}
// Ginger Beer texture
.ginger-beer.dots {
  background-image: url(../images/textures/dots-yellow.png);
}
.ginger-beer.escher {
  background-image: url(../images/textures/escher-yellow.png);
}
.ginger-beer.lines {
  background-image: url(../images/textures/lines-black.png);
}
.ginger-beer.prism {
  background-image: url(../images/textures/prism-yellow.png);
}
.ginger-beer.triangles {
  background-image: url(../images/textures/triangles-black.png);
}
.ginger-beer.wall {
  background-image: url(../images/textures/ginger-beer-stone.jpg);
}
.ginger-beer.chalkboard {
  background-image: url(../images/textures/chalkboard-gingerbeer.jpg);
}
.ginger-beer.waves {
  background-image: url(../images/textures/waves-yellow.png);
}
// black texture
.dots.black {
  background-image: url(../images/textures/dots-white.png);
}
.escher.black {
  background-image: url(../images/textures/escher-white.png);
}
.lines.black {
  background-image: url(../images/textures/lines-white.png);
}
.prism.black {
  background-image: url(../images/textures/prism-black-overlay.png);
}
.triangles.black {
  background-image: url(../images/textures/triangles-white.png);
}
.wall.black {
  background-image: url(../images/textures/limestone-black.jpg);
}
.chalkboard.black {
  background-image: url(../images/textures/chalkboard-black.jpg);
}
.waves.black {
  background-image: url(../images/textures/waves-white.png);
}
// Ginger Beer texture
.ginger-beer.dots {
  background-image: url(../images/textures/dots-yellow.png);
}
.ginger-beer.escher {
  background-image: url(../images/textures/escher-yellow.png);
}
.ginger-beer.lines {
  background-image: url(../images/textures/lines-black.png);
}
.ginger-beer.prism {
  background-image: url(../images/textures/prism-yellow.png);
}
.ginger-beer.triangles {
  background-image: url(../images/textures/triangles-black.png);
}
.ginger-beer.wall {
  background-image: url(../images/textures/ginger-beer-stone.jpg);
}
.ginger-beer.chalkboard {
  background-image: url(../images/textures/chalkboard-gingerbeer.jpg);
}
.ginger-beer.waves {
  background-image: url(../images/textures/waves-yellow.png);
}
// Copper texture
.copper.dots {
  background-image: url(../images/textures/dots-black-8.png);
}
.copper.escher {
  background-image: url(../images/textures/escher-black-8.png);
}
.copper.lines {
  background-image: url(../images/textures/lines-white.png);
}
.copper.prism {
  background-image: url(../images/textures/prism-black.png);
}
.copper.triangles {
  background-image: url(../images/textures/triangles-white.png);
}
.copper.wall {
  background-image: url(../images/textures/copper-stone.jpg);
}
.copper.chalkboard {
  background-image: url(../images/textures/chalkboard-copper.jpg);
}
.copper.waves {
  background-image: url(../images/textures/waves-white.png);
}
// Dogwood texture
.dogwood.dots {
  background-image: url(../images/textures/dots-black-6.png);
}
.dogwood.escher {
  background-image: url(../images/textures/escher-black-6.png);
}
.dogwood.lines {
  background-image: url(../images/textures/lines-black.png);
}
.dogwood.prism {
  background-image: url(../images/textures/prism-black.png);
}
.dogwood.triangles {
  background-image: url(../images/textures/triangles-black.png);
}
.dogwood.wall {
  background-image: url(../images/textures/dogwood-stone.jpg);
}
.dogwood.chalkboard {
  background-image: url(../images/textures/chalkboard-dogwood.jpg);
}
.dogwood.waves {
  background-image: url(../images/textures/waves-black-67.png);
}
// Hatteras texture
.hatteras.dots {
  background-image: url(../images/textures/dots-black-4.png);
}
.hatteras.escher {
  background-image: url(../images/textures/escher-black-4.png);
}
.hatteras.lines {
  background-image: url(../images/textures/lines-black.png);
}
.hatteras.prism {
  background-image: url(../images/textures/prism-white.png);
}
.hatteras.triangles {
  background-image: url(../images/textures/triangles-black.png);
}
.hatteras.wall {
  background-image: url(../images/textures/hatteras-stone.jpg);
}
.hatteras.chalkboard {
  background-image: url(../images/textures/chalkboard-hatteras.jpg);
}
.hatteras.waves {
  background-image: url(../images/textures/waves-black-67.png);
}
// Heritage Green texture
.heritage-green.dots {
  background-image: url(../images/textures/dots-black-4.png);
}
.heritage-green.escher {
  background-image: url(../images/textures/escher-black-4.png);
}
.heritage-green.lines {
  background-image: url(../images/textures/lines-black.png);
}
.heritage-green.prism {
  background-image: url(../images/textures/prism-white.png);
}
.heritage-green.triangles {
  background-image: url(../images/textures/triangles-black.png);
}
.heritage-green.wall {
  background-image: url(../images/textures/heritage-green-stone.jpg);
}
.heritage-green.chalkboard {
  background-image: url(../images/textures/chalkboard-piedmont.jpg);
}
.heritage-green.waves {
  background-image: url(../images/textures/waves-black-67.png);
}
// Duke Navy Blue texture
.duke-navy-blue.dots {
  background-image: url(../images/textures/dots-black-20.png);
}
.duke-navy-blue.escher {
  background-image: url(../images/textures/escher-black-20.png);
}
.duke-navy-blue.lines {
  background-image: url(../images/textures/lines-white.png);
}
.duke-navy-blue.prism {
  background-image: url(../images/textures/prism-black.png);
}
.duke-navy-blue.triangles {
  background-image: url(../images/textures/triangles-white.png);
}
.duke-navy-blue.wall {
  background-image: url(../images/textures/navy-blue-stone.jpg);
}
.duke-navy-blue.chalkboard {
  background-image: url(../images/textures/chalkboard-navyblue.jpg);
}
.dark-blue.waves, .duke-navy-blue.waves {
  background-image: url(../images/textures/waves-white.png);
}
// Duke Royal Blue texture
.duke-royal-blue.dots {
  background-image: url(../images/textures/dots-black-8.png);
}
.duke-royal-blue.escher {
  background-image: url(../images/textures/escher-black-8.png);
}
.duke-royal-blue.lines {
  background-image: url(../images/textures/lines-white.png);
}
.duke-royal-blue.prism {
  background-image: url(../images/textures/prism-black.png);
}
.duke-royal-blue.triangles {
  background-image: url(../images/textures/triangles-white.png);
}
.duke-royal-blue.wall {
  background-image: url(../images/textures/royal-blue-stone.jpg);
}
.duke-royal-blue.chalkboard {
  background-image: url(../images/textures/chalkboard-royalblue.jpg);
}
.duke-royal-blue.waves {
  background-image: url(../images/textures/waves-white.png);
}
// Limestone texture
.limestone.dots {
  background-image: url(../images/textures/dots-black-4.png);
}
.limestone.escher {
  background-image: url(../images/textures/escher-black-4.png);
}
.limestone.lines {
  background-image: url(../images/textures/lines-black.png);
}
.limestone.prism {
  background-image: url(../images/textures/prism-white.png);
}
.limestone.triangles {
  background-image: url(../images/textures/triangles-black.png);
}
.limestone.wall {
  background-image: url(../images/textures/limestone-stone.jpg);
}
.limestone.chalkboard {
  background-image: url(../images/textures/chalkboard-limestone.jpg);
}
.limestone.waves {
  background-image: url(../images/textures/waves-black.png);
}
// Graphite texture
.graphite.dots {
  background-image: url(../images/textures/dots-white.png);
}
.graphite.escher {
  background-image: url(../images/textures/escher-white.png);
}
.graphite.lines {
  background-image: url(../images/textures/lines-white.png);
}
.graphite.prism {
  background-image: url(../images/textures/prism-black.png);
}
.graphite.triangles {
  background-image: url(../images/textures/triangles-white.png);
}
.graphite.wall {
  background-image: url(../images/textures/graphite-stone.jpg);
}
.graphite.chalkboard {
  background-image: url(../images/textures/chalkboard-graphite.jpg);
}
.graphite.waves {
  background-image: url(../images/textures/waves-black.png);
}
// Piedmont texture
.piedmont.dots {
  background-image: url(../images/textures/dots-black-6.png);
}
.piedmont.escher {
  background-image: url(../images/textures/escher-black-6.png);
}
.piedmont.lines {
  background-image: url(../images/textures/lines-black.png);
}
.piedmont.prism {
  background-image: url(../images/textures/prism-black.png);
}
.piedmont.triangles {
  background-image: url(../images/textures/triangles-black.png);
}
.piedmont.wall {
  background-image: url(../images/textures/piedmont-stone.jpg);
}
.piedmont.chalkboard {
  background-image: url(../images/textures/chalkboard-piedmont.jpg);
}
.piedmont.waves {
  background-image: url(../images/textures/waves-black-67.png);
}
// Ironweed texture
.ironweed.dots {
  background-image: url(../images/textures/dots-black-8.png);
}
.ironweed.escher {
  background-image: url(../images/textures/escher-black-8.png);
}
.ironweed.lines {
  background-image: url(../images/textures/lines-white.png);
}
.ironweed.prism {
  background-image: url(../images/textures/prism-black.png);
}
.ironweed.triangles {
  background-image: url(../images/textures/triangles-white.png);
}
.ironweed.wall {
  background-image: url(../images/textures/ironweed-stone.jpg);
}
.ironweed.chalkboard {
  background-image: url(../images/textures/chalkboard-ironweed.jpg);
}
.ironweed.waves {
  background-image: url(../images/textures/waves-white.png);
}
// Eno texture
.eno.dots {
  background-image: url(../images/textures/dots-black-6.png);
}
.eno.escher {
  background-image: url(../images/textures/escher-black-6.png);
}
.eno.lines {
  background-image: url(../images/textures/lines-black.png);
}
.eno.prism {
  background-image: url(../images/textures/prism-black.png);
}
.eno.triangles {
  background-image: url(../images/textures/triangles-white.png);
}
.eno.wall {
  background-image: url(../images/textures/eno-stone.jpg);
}
.eno.chalkboard {
  background-image: url(../images/textures/chalkboard-eno.jpg);
}
.eno.waves {
  background-image: url(../images/textures/waves-black.png);
}

// OVERLAYS

.shale-blue-overlay {
  .paragraph-photo-bg-content {
    background: rgba(5, 119, 177, 0.9);
  }
}
.dogwood-overlay {
  .paragraph-photo-bg-content {
    background: rgba(138, 113, 92, 0.8);
  }
}
.graphite-overlay {
  .paragraph-photo-bg-content {
    background: rgba(102, 102, 102, 0.7);
  }
}
.cast-iron-overlay {
  .paragraph-photo-bg-content {
    background: rgba(38, 38, 38, 0.8);
  }
}
.piedmont-overlay {
  .paragraph-photo-bg-content {
    background: rgba(161, 183, 13, 0.9);
  }
}
.ironweed-overlay {
  .paragraph-photo-bg-content {
    background: rgba(153, 51, 153, 0.9);
  }
}
.eno-overlay {
  .paragraph-photo-bg-content {
    background: rgba(51, 152, 152, 0.9);
  }
}

.arrow-top-white {
  .paragraph-photo-bg {
    .paragraph-photo-bg-content-wrapper::before {
      left: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(255, 255, 255, 0);
      border-top-color: #ffffff;
      border-width: 30px;
      margin-left: -30px;
      margin-top: -15px;
    }
  }
}

.arrow-top-gray {
  .paragraph-photo-bg {
    .paragraph-photo-bg-content-wrapper::before {
      left: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(238, 238, 238, 0);
      border-top-color: #eeeeee;
      border-width: 30px;
      margin-left: -30px;
      margin-top: -15px;
    }
  }
}
