.paragraph--type--video-gallery,
.paragraph--type--video-gallery-two-column {
  max-width: 1140px;
  margin: 0 auto;
  .paragraph__column {
    margin: 0 auto !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

.paragraph--type--video-gallery-two-column {
  .paragraph__column {
    .slick-slide {
      padding: 15px;
    }
  }
}

.paragraph--type--video-gallery.add-margin-top,
.paragraph--type--video-gallery-two-column.add-margin-top {
  margin: 30px auto 0 auto;
}
.paragraph--type--video-gallery.add-margin-bottom,
.paragraph--type--video-gallery-two-column.add-margin-bottom {
  margin: 0 auto 30px auto;
}
.paragraph--type--video-gallery.add-margin-both,
.paragraph--type--video-gallery-two-column.add-margin-both {
  margin: 30px auto;
}
