.paragraph--type--front-page-quick-links {
	.paragraph__column {
		float: none;
		margin: 0 auto;
		padding: 0;
		background-color: $castiron;
		.quicklinks-wrapper {
			display: block;
			flex-flow:: row nowrap;
			justify-content: center;
			align-items: stretch;
			align-content: space-evenly;
			max-width: 1140px;
			margin: 0 auto;
			.field {
				flex-grow: 1;
				flex-basis: 100%;
				width: 100%;
				display: block;
				a {
					flex-grow: 1;
					flex-basis: 100%;
			    justify-content: center;
			    align-items: center;
					align-self: center;
					float: left;
					width: 100%;
					display: block;
					width: 100%;
					height: 100%;
					padding: 18px 24px;
					color: white;
					font: 2em $merriweather;
					line-height: 1.3em;
					text-decoration: none;
					text-align: center;
				}
				@include media-breakpoint-up(md) {
				a {
					font: 1.2em $merriweather;
					display: flex;
					}
				}
				@include media-breakpoint-up(lg) {
				a {
					font: 1.5em $merriweather;
					}
				}
				@include media-breakpoint-up(xl) {
				a {
					font: 2em $merriweather;
					}
				}
			}
			.field--name-field-quick-link-1 {
				a {
					background-color: $ironweed;
					-o-transition: background-color .2s linear;
	        -moz-transition: background-color .2s linear;
	        -webkit-transition: background-color .2s linear;
	        transition: background-color .2s linear;
				}
				a:hover {
					background-color: darken($ironweed, 15%);
					-o-transition: background-color .2s linear;
	        -moz-transition: background-color .2s linear;
	        -webkit-transition: background-color .2s linear;
	        transition: background-color .2s linear;
				}
			}
			.field--name-field-quick-link-2 {
				a {
					background-color: $copper;
					-o-transition: background-color .2s linear;
	        -moz-transition: background-color .2s linear;
	        -webkit-transition: background-color .2s linear;
	        transition: background-color .2s linear;
				}
				a:hover {
					background-color: darken($copper, 15%);
					-o-transition: background-color .2s linear;
	        -moz-transition: background-color .2s linear;
	        -webkit-transition: background-color .2s linear;
	        transition: background-color .2s linear;
				}
			}
			.field--name-field-quick-link-3 {
				a {
					background-color: $dukenavyblue;
					-o-transition: background-color .2s linear;
	        -moz-transition: background-color .2s linear;
	        -webkit-transition: background-color .2s linear;
	        transition: background-color .2s linear;
				}
				a:hover {
					background-color: darken($dukenavyblue, 15%);
					-o-transition: background-color .2s linear;
	        -moz-transition: background-color .2s linear;
	        -webkit-transition: background-color .2s linear;
	        transition: background-color .2s linear;
				}
			}
			.field--name-field-quick-link-4 {
				a {
					background-color: $pistachio;
					-o-transition: background-color .2s linear;
	        -moz-transition: background-color .2s linear;
	        -webkit-transition: background-color .2s linear;
	        transition: background-color .2s linear;
				}
				a:hover {
					background-color: darken($pistachio, 15%);
					-o-transition: background-color .2s linear;
	        -moz-transition: background-color .2s linear;
	        -webkit-transition: background-color .2s linear;
	        transition: background-color .2s linear;
				}
			}
		}
		@include media-breakpoint-up(md) {
			.quicklinks-wrapper {
				display: flex;
				.field {
					display: flex;
					width: 25%;
					flex-basis: 25%;
				}
			}
		}
	}
}