.paragraph--type--background-image-static {
  height: 200px;
}

.paragraph>.paragraph__column {
  padding-bottom: 0 !important
}


.paragraph--width--full>.paragraph__column {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.paragraph.paragraph--width--medium>.paragraph__column {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
.paragraph.paragraph--width--narrow>.paragraph__column {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}
.paragraph.paragraph--width--tiny>.paragraph__column {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .paragraph.paragraph--width--wide>.paragraph__column,
  .paragraph.paragraph--width--medium>.paragraph__column,
  .paragraph.paragraph--width--narrow>.paragraph__column,
  .paragraph.paragraph--width--tiny>.paragraph__column {
    float: none;
  }
}

.bottom-paragraphs {
  .text-formatted {
    max-width: 1110px;
    margin: 0 auto;
  }
}

.paragraph>.paragraph__column {
  .view-members {
    margin-left: -15px;
    margin-right: -15px;
  }
}
