// search results styling
.view-search {
  .views-exposed-form {
    margin-bottom: 40px;
    background-color: #eeeeee;
    padding: 20px;
  }
  .views-row {
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid $coolgray7;
    .views-row {
      margin-bottom: 0;
      padding-bottom: 0;
      border-bottom: 0 none;
    }
  }
  .views-row.last {
    border-bottom: 0 none;
    margin-bottom: 40px;
  }
  .sapi-type {
    color: #6f6f6f;
    font-size: 80%;
    font-weight: bold;
    text-transform: uppercase;
  }
  h2 {
    margin: 0 0 20px 0;
  }
  .view-footer {
    text-align: center;
    padding-top: 20px;
    font-size: .9em;
  }
}
