/**
 * @file
 * The visual styles for Bootstrap Barrio's search form(s).
 */

input[type="search"] {
    box-sizing: border-box;
}

#search-block-form {
	float: right;
	padding-top: 10px;
	margin: 0;
  .form-group {
    margin-bottom: 0;
		.form-control {
	   	background-color: $search-box-color;
	    -webkit-border-radius: 4px 0 0 4px;
	    -moz-border-radius: 4px 0 0 4px;
	    -ms-border-radius: 4px 0 0 4px;
	    -o-border-radius: 4px 0 0 4px;
	    border-radius: 4px 0 0 4px;
	    border-width: 1px;
	    border-style: solid;
	    border-color: $search-box-color;
	    color: $search-box-text-color;
	    font-size: 13px;
	    height: 30px;
	    padding: 2px 0 0 4px;
	    width: 200px;
	    position: relative;
	    right: -5px;
		}
	}
	.form-actions {
	.btn {
		border-width: 1px;
		border-style: solid;
		border-color: $limestone;
		-webkit-border-radius: 0 4px 4px 0;
		-moz-border-radius: 0 4px 4px 0;
		-ms-border-radius: 0 4px 4px 0;
		-o-border-radius: 0 4px 4px 0;
		border-radius: 0 4px 4px 0;
		color: black;
		font-size: 13px;
		text-indent: -9999px;
		width: 30px;
		height: 30px;
		background: $limestone url(../images/search-icon-gray.png) 45% 40% no-repeat;
		padding: 0;
		text-shadow: none;
		position: relative;
		}
	}
}
#search-block .form-row>fieldset,
#search-block .form-row>div,
#search-block-form .form-row>fieldset,
#search-block-form .form-row>div {
  padding-right: 0;
  padding-left: 0;
}
