.view-display-id-large_feature_slider,
.view-feature-sliders.view-display-id-block_1,
.node--type-feature-slide {
  height: 400px;
  .feature-slide {
    text-align: left;
    background-color: #000000 !important;
    .feature-slide-bg-img {
      display: block;
      overflow: hidden;
      height: 400px;
      -o-transition: height .2s linear;
      -moz-transition: height .2s linear;
      -webkit-transition: height .2s linear;
      transition: height .2s linear;
      max-width: 1500px;
      margin: 0 auto;
      background-color: #000000 !important;
    }
    .feature-slide-content-wrapper {
      max-width: 1140px;
      margin: 0 auto;
      display: block;
      position: relative;
      height: 100%;
      .feature-slide-content {
        padding: 20px 15px 0 15px;
        display: block;
        position: absolute;
        bottom: 40px;
        max-width: 75%;
        .feature-slide-big-text {
          color: white;
          font-family: $open-sans;
          font-size: 2.2em;
          line-height: 1.1;
          text-shadow: 3px 3px 9px #000;
          margin: 0 0 20px 0;
        }
        .feature-slide-caption {
          background-color: rgba(38,38,38,0.8);
          color: white;
          padding: 10px 20px;
          margin: 0 0 10px 0 ;
          font-size: .8em;
          display: inline-block;
          p {
            margin-bottom: 0;
          }
        }
        .more-link {
          a {
            font-size: .8em;
            margin: 0 0 10px 0;
          }
        }
      }
    }
  }
}

.view-display-id-large_feature_slider,
.view-feature-sliders.view-display-id-block_1,
.node--type-feature-slide {
  .slick__slider {
    margin-bottom: -48px;
  }
  .slick__arrow {
    position: relative;
    top: -15px;
    margin-top: -1px;
  }
}

@include media-breakpoint-up(lg) {
  .view-display-id-large_feature_slider ,
  .view-feature-sliders.view-display-id-block_1,
  .node--type-feature-slide {
    height: 550px;
    .feature-slide {
      .feature-slide-bg-img {
        height: 550px;
        -o-transition: height .2s linear;
        -moz-transition: height .2s linear;
        -webkit-transition: height .2s linear;
        transition: height .2s linear;
      }
      .feature-slide-content-wrapper {
        .feature-slide-content {
          .feature-slide-big-text {
            font-size: 4em;
          }
          .feature-slide-caption {
            padding: 20px;
            font-size: 1em;
          }
          .more-link {
            a {
              padding: 10px 20px;
              font-size: 1em;
            }
          }
        }
      }
    }
  }
}

@include media-breakpoint-up(xl) {
  .view-display-id-large_feature_slider,
  .view-feature-sliders.view-display-id-block_1,
  .node--type-feature-slide {
    height: 720px;
    .feature-slide {
      .feature-slide-bg-img {
        height: 720px;
        -o-transition: height .2s linear;
        -moz-transition: height .2s linear;
        -webkit-transition: height .2s linear;
        transition: height .2s linear;
      }
      .feature-slide-content-wrapper {
        .feature-slide-content {
          .feature-slide-big-text {
            font-size: 4em;
          }
        }
      }
    }
  }
}
