// table styling
table {
  tr {
    th {
      a, .link, a:active, .link:active, a:hover, .link:hover, a:focus, .link:focus, a:visited, .link:visited {
        color: white;
      }
    }
  }
}
// remove td border-top from tables without border styling
table.table {
  th, td {
    border-top: 0 none;
  }
}

// Override the Tablesaw vertical alignment

.tablesaw th, 
.tablesaw td,
td {
  vertical-align: top !important;
}

// add support for center- and right-aligned text in table cells
th.text-align-center { text-align: center !important; }
th.text-align-right { text-align: right !important; }
td.text-align-center { text-align: center }
td.text-align-right { text-align: right }

// add override for responsive tables
@media (max-width: 576px) {
  .tablesaw-stack td .tablesaw-cell-label,
  .tablesaw-stack th .tablesaw-cell-label,
  .tablesaw-cell-content {
    font-size: 0.85em;
  }
}

@media (max-width: 480px) {
  .tablesaw-stack td .tablesaw-cell-label,
  .tablesaw-stack th .tablesaw-cell-label {
    width: 100%;
  }
  .tablesaw-cell-content {
    max-width: 100%;
  }
}
