// views styling

// exposed forms
.views-exposed-form {
  .form-row {
    fieldset {
      padding-right: 0;
      padding-left: 0;
      margin-right: 1em;
      legend { 
        display: none; 
      }
      label {
        color: #6f6f6f;
        font-size: 80%;
        font-weight: bold;
        text-transform: uppercase;
      }
      div {
        width: auto;
        max-width: none;
        margin-right: 1em;
        margin-bottom: 1rem;
        display: inline-block;
      }
    }
  }
}

.view-content.row {
	display: block;
	margin-left: 0;
	margin-right: 0;
}

.view-teaser-listing {
	padding-bottom: 30px;
	border-bottom: 1px dotted $granite;
	margin-bottom: 30px;
}

// i think we want the bottom border on first items in a view .view-teaser-listing.first,
.view-teaser-listing.last {
  border-bottom: none !important;
}

// hide view reference title
.viewsreference--view-title {
  display: none;
}

// hire a phd

.view-hire-duke-phd {
  .slick--view--hire-duke-phd {
    h5 {
      margin-top: 0;
    }
  }
  .slick--view--hire-duke-phd--block-1 .field-content {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    .phd-carousel-thumbnail {
      min-width: 165px;
      padding: 0 15px 15px 0;
      flex-basis: 30%;
    }
    .phd-carousel-content {
      flex-basis: 60%;
      flex-grow: 1;
    }
  }
  .slick--view--hire-duke-phd--block-2 {
    .views-field-field-local-image {
      width: 150px;
    }
  }
}

// projects carousel
.view-projects {
  .slick-slide {
    .views-field-title,
    .views-field-field-creators {
      max-width: 230px;
    }
  }
}

// alumni
.views-field.views-field-field-alumni-image {
  max-width: 230px;
}

// relatated content
.view-related-content {
  border-top: 4px solid #005587;
  border-bottom: 4px solid #005587;
  background: #E2E6ED;
  padding: 0 1.5em;
  .h6 {
    margin-bottom: 0;
  }
}

