{% extends "block.html.twig" %}
{#
/**
 * @file
 * Theme override for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 */
#}
{% block content %}
  {% if site_logo %}
  	<div class="site-logo">
	    <a href="http://trinity.duke.edu/" title="Duke University - Trinity College of Arts and Sciences"><img src="/themes/custom/tts_base/images/trinity-logo.svg" alt="Duke University - Trinity College of Arts and Sciences" /></a>
		</div>
  {% endif %}
  {% if site_name %}
  	<div class="site-name">
      <a href="{{ path('<front>') }}" title="{{ site_name }}" rel="home"><span><img src="{{ site_logo }}" alt="{{ site_name }} wordmark"></span></a>
    </div>
  {% endif %}
{% endblock %}
