{#
/**
 * @file
 * Theme override for the basic structure of a single Drupal page.
 *
 * Variables:
 * - logged_in: A flag indicating if user is logged in.
 * - root_path: The root path of the current page (e.g., node, admin, user).
 * - node_type: The content type for the current node, if the page is a node.
 * - head_title: List of text elements that make up the head_title variable.
 *   May contain or more of the following:
 *   - title: The title of the page.
 *   - name: The name of the site.
 *   - slogan: The slogan of the site.
 * - page_top: Initial rendered markup. This should be printed before 'page'.
 * - page: The rendered page markup.
 * - path_info.args: Array of URL arguments un aliassed.
 * - page_bottom: Closing rendered markup. This variable should be printed after
 *   'page'.
 * - db_offline: A flag indicating if the database is offline.
 * - placeholder_token: The token for generating head, css, js and js-bottom
 *   placeholders.
 *
 * @see template_preprocess_html()
 */
#}
{%
  set body_classes = [
    logged_in ? 'user-logged-in',
    not root_path ? 'path-frontpage' : 'path-' ~ root_path|clean_class,
    node_type ? 'node--type-' ~ node_type|clean_class,
    db_offline ? 'db-offline',
    theme_name|clean_class,
  ]
%}
<!DOCTYPE html>
<html{{ html_attributes }}>
  <head>
    <head-placeholder token="{{ placeholder_token|raw }}">
    <title>{{ head_title|safe_join(' | ') }}</title>
    <!-- TTS Nagios Verification -->
    <css-placeholder token="{{ placeholder_token|raw }}">
    <js-placeholder token="{{ placeholder_token|raw }}">
    <link rel="stylesheet" type="text/css" media="screen" href="https://alertbar.oit.duke.edu/sites/all/themes/blackwell/css/alert.css">
    <style type="text/css">.duke-alert{margin:0 auto;}</style>
    <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css">
    <script>
    window.addEventListener("load", function(){
    window.cookieconsent.initialise({
      "palette": {
        "popup": {
          "background": "#001a57"
        },
        "button": {
          "background": "#ffd960",
          "color": "#000000"
        }
      },
      "content": {
        "message": "This website uses cookies as well as similar tools and technologies to understand visitors' experiences. By continuing to use this website, you consent to Duke University's usage of cookies and similar technologies, in accordance with the ",
        "dismiss": "I ACCEPT",
        "link": "Duke Privacy Statement.",
        "href": 'https://oarc.duke.edu/privacy/duke-university-privacy-statement'
      },
      "onPopupOpen": function() {
        var dismiss = document.getElementsByClassName("cc-dismiss");
        Array.prototype.forEach.call(dismiss, function(elem) {
          elem.addEventListener("keypress", function(e) {
            if ((e.keyCode == 32) || (e.keyCode == 13)) { e.preventDefault(); e.target.click(); }
          });
        });
      }
    })});
    </script>
  </head>
  <body{{ attributes.addClass(body_classes) }}>
    <a href="#main-content" class="visually-hidden focusable skip-link">
      {{ 'Skip to main content'|t }}
    </a>
    <script src="https://alertbar.oit.duke.edu/alert.html"></script>
    <div class="centennial centennial-brand-bar centennial-brand-bar--black">
      <a href="https://100.duke.edu/" class="centennial-brand-bar__link" title="Duke Centennial - Celebrating the past, inspiring the present and looking toward the future">
        <img class="centennial-brand-bar__logo" src="https://assets.styleguide.duke.edu/cdn/logos/centennial/duke-centennial-white.svg" alt="Duke 100 Centennial logo" width="147" height="40" style="width:147px;height:40px" />
      </a>
    </div>
    {{ page_top }}
    {{ page }}
    {{ page_bottom }}
    <js-bottom-placeholder token="{{ placeholder_token|raw }}">
  </body>
</html>
