{#
/**
 * @file
 * TTS Base theme implementation to display a single Drupal page while offline.
 *
 * All available variables are mirrored in page.html.twig.
 *
 * @see template_preprocess_maintenance_page()
 */
 #}
<div class="maintenance-header">
  <div class="maintenance-header-content">
    <a href="http://trinity.duke.edu/" title="Duke University - Trinity College of Arts and Sciences" class="img-rollover"><img class="maintenance-logo" src="/themes/custom/tts_base/images/trinity-logo.svg" alt="Duke University - Trinity College of Arts and Sciences"></a>
  </div>
</div>
<div class="maintenance-body">
  <main role="main">
    {% if title %}
      <h1>{{ title }}</h1>
    {% endif %}

    {{ page.highlighted }}

    {{ page.content }}
  </main>
</div>