{#
/**
 * @file
 * Content bundle paragraph type

{# Set Paragraph classes #}
{% set classes = [
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  'paragraph--id--' ~ paragraph.id.value,
] %}

{# Set url and campaign values #}
{% set site_url = url('<front>', {}, { 'absolute': true })|render %}
{% set site_url_without_protocol = site_url|replace({'https://': '', 'http://': ''})|trim('/') %}
{% set campaign = paragraph.field_campaign.value %}

{# Count the number of items #}
{% set item_count = content.field_content|length %}
{% set heading_count = content.field_content|length %}

{# Set column width based on item count #}
{% if item_count == 1 %}
  {% set column_class = 'col-lg-12' %}
{% elseif item_count == 2 %}
  {% set column_class = 'col-lg-6' %}
{% elseif item_count == 3 %}
  {% set column_class = 'col-lg-4' %}
{% else %}
  {% set column_class = 'col-lg-3' %}
{% endif %}

{# Set heading width based on item count #}
{% if heading_count == 18 %}
  {% set heading_class = 'col-lg-3' %}
{% elseif heading_count == 19 %}
  {% set heading_class = 'col-lg-6' %}
{% elseif heading_count == 20 %}
  {% set heading_class = 'col-lg-9' %}
{% else %}
  {% set heading_class = 'col-lg-12' %}
{% endif %}

{# Print div with classes and content #}
<div{{ attributes.addClass(classes) }}>
  <div class="component-wrapper container">
    
    {# Wrap the header text content in a row with the same column class as the items #}
    <div class="row justify-content-center">
      <div class="col-12 col-md-6 {{ heading_class }}">
        <div class="header-text-content-wrapper">
          {# Render heading #}
          {% if content.field_heading is not empty %}
            <h2 class="text-left">{{ content.field_heading }}</h2>
          {% endif %}
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-12 align-self-center">
        {# Render referenced content nodes #}
        {% if paragraph.field_content is not empty %}
          <div class="row pt-2 pb-4 justify-content-center">
            {# Loop through referenced content nodes #}
            {% for item in content.field_content %}
              {% if item['#node'] %}
                <div class="col-12 col-md-6 {{ column_class }} mb-4">
                  <div class="card h-100">
                    {# Set link based on whether or not there is an external url #}
                    {% set external_story = item['#node'].field_external_story.0.uri|default('') %}
                    {% set nid = item['#node'].nid.value %}
                    {% set internal_link = path('entity.node.canonical', {'node': nid}) %}
                    {# Set link value and append the UTM query string #}
                    {% set link = external_story is not empty ? external_story ~ '?utm_content=cb&utm_source=' ~ site_url_without_protocol ~ (campaign is not empty ? '&utm_campaign=' ~ campaign : '') : internal_link ~ '?utm_content=cb&utm_source=' ~ site_url_without_protocol ~ (campaign is not empty ? '&utm_campaign=' ~ campaign : '') %}
                    
                    {# Render image content for basic page #}
                    {% if item['#node'].field_representative_image is not empty %}
                      <a href="{{ link }}">
                        {{ item['#node'].field_representative_image.entity.field_media_image | view('3_2_landscape_medium') }}
                      </a>
                    {# Otherwise, render image content for 3 possible image fields on news local or imported using view EVA #}
                    {% elseif item['#node'].field_image is not empty or item['#node'].field_news_article_local_image is not empty or item['#node'].field_legacy_image is not empty %}
                      <a href="{{ link }}">
                        {{ drupal_view('news', 'card_image_eva', item['#node'].nid.value) }}
                      </a>
                    {# Otherwise, render static fallback image #}
                    {% else %}
                      <a href="{{ link }}">
                        <img src="/themes/custom/tts_base/images/news-img-placeholder.jpg" alt="Duke Chapel" width="500" height="333" loading="lazy">
                      </a>
                    {% endif %}
                    
                    {# Render card body and link #}
                    <div class="card-body">
                      <div class="card-title h5">
                        <a href="{{ link }}">{{ item['#node'].title.value }}</a>
                      </div>
                    </div>
                  </div>
                </div>
              {% endif %}
            {% endfor %}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
