{#
/**
 * @file
 * Bootstrap Paragraphs template for displaying a Three Columns Uneven layout.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   - id: The paragraph ID.
 *   - bundle: The type of the paragraph, for example, "image" or "text".
 *   - authorid: The user ID of the paragraph author.
 *   - createdtime: Formatted creation date. Preprocess functions can
 *     reformat it by calling format_date() with the desired parameters on
 *     $variables['paragraph']->getCreatedTime().
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}

{{ attach_library('bootstrap_paragraphs/bootstrap-paragraphs') }}
{{ attach_library('bootstrap_paragraphs/bp-columns') }}
{{ attach_library('bootstrap_paragraphs/bp-columns-three') }}

{# Renders Column Style field. #}
{# Sets class name from values in database. #}
{% if content.bp_column_style_3|render %}
  {% set column_style_3 = content.bp_column_style_3['#items'].getString() %}
  {% set column_style_3_classes = [
    'paragraph--style--25-50-25' == column_style_3 ? 'paragraph--style--25-50-25',
    'paragraph--style--50-25-25' == column_style_3 ? 'paragraph--style--50-25-25',
    'paragraph--style--25-25-50' == column_style_3 ? 'paragraph--style--25-25-50',
    'paragraph--style--16-66-16' == column_style_3 ? 'paragraph--style--16-66-16',
    'paragraph--style--66-16-16' == column_style_3 ? 'paragraph--style--66-16-16',
    'paragraph--style--16-16-66' == column_style_3 ? 'paragraph--style--16-16-66',
  ]
  %}
{% endif %}

{# Renders Width field. #}
{# Sets class name from values in database. #}
{% if content.bp_width|render %}
  {% set layout_width = content.bp_width['#items'].getString() %}
  {% set layout_width_classes = [
    'paragraph--width--tiny' == layout_width ? 'paragraph--width--tiny',
    'paragraph--width--narrow' == layout_width ? 'paragraph--width--narrow',
    'paragraph--width--medium' == layout_width ? 'paragraph--width--medium',
    'paragraph--width--wide' == layout_width ? 'paragraph--width--wide',
    'paragraph--width--full' == layout_width ? 'paragraph--width--full',
  ]
  %}
{% endif %}

{# Renders Color field. #}
{# Sets class name from values in database. #}
{% if content.field_color|render %}
  {% set item = content.field_color['#items'][0] %}
  {% set layout_color_classes = [item.entity.name.value] %}
{% endif %}

{# Renders Texture field. #}
{# Sets class name from values in database. #}
{% if content.field_texture|render %}
  {% set item = content.field_texture['#items'][0] %}
  {% set layout_texture_classes = [item.entity.name.value] %}
{% endif %}

{# Renders Padding field. #}
{# Sets class name from values in database. #}
{% if content.field_padding|render %}
  {% set item = content.field_padding['#items'][0] %}
  {% set layout_padding_classes = [item.entity.name.value] %}
{% endif %}

{# Renders Margins field. #}
{# Sets class name from values in database. #}
{% if content.field_add_margins|render %}
  {% set item = content.field_add_margins['#items'][0] %}
  {% set layout_margins_classes = [item.entity.name.value] %}
{% endif %}

{# The template default set classes. #}
{# Sets Paragraph ID as class. #}
{%
set classes = [
'paragraph',
'paragraph--type--' ~ paragraph.bundle|clean_class,
view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
'paragraph--id--' ~ paragraph.id.value,
]
%}

{# Merges Width field with classes. #}
{% set width_field = content.bp_width|render %}
{% if width_field %}
  {% set classes = classes|merge(layout_width_classes) %}
{% endif %}

{# Merges Color field with classes. #}
{% set color_field = content.field_color|render %}
{% if color_field %}
  {% set classes = classes|merge(layout_color_classes) %}
{% endif %}

{# Merges Texture field with classes. #}
{% set texture_field = content.field_texture|render %}
{% if texture_field %}
  {% set classes = classes|merge(layout_texture_classes) %}
{% endif %}

{# Merges Padding field with classes. #}
{% set padding_field = content.field_padding|render %}
{% if padding_field %}
  {% set classes = classes|merge(layout_padding_classes) %}
{% endif %}

{# Merges Margins field with classes. #}
{% set margins_field = content.field_add_margins|render %}
{% if margins_field %}
  {% set classes = classes|merge(layout_margins_classes) %}
{% endif %}

{# Merges Column Style field with classes. #}
{% set column_style_field = content.bp_column_style_3|render %}
{% if column_style_field %}
  {% set classes = classes|merge(column_style_3_classes) %}
{% endif %}

{# Prints div with classes, and content without key values. #}
<div{{ attributes.addClass(classes) }}>
  <div class="paragraph__column">
    {{ content|without('bp_width', 'field_color', 'field_texture', 'field_padding', 'field_add_margins', 'bp_column_style_3') }}
  </div>
</div>